<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title th:replace="commons_personal::title"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="static/images/favicon.png" />
    <!-- jquery.vectormap css -->
<!--    <link href="static/js/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />-->
    <!-- DataTables -->
<!--    <link href="static/js/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />-->
    <!-- Responsive datatable examples -->
<!--    <link href="static/js/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />-->
    <!-- Button datatable examples -->
<!--    <link href="static/js/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />-->
    <!-- Bootstrap Css -->
    <link href="static/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons css -->
    <link href="static/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="static/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />

    <link href="static/css/scroll.css" id="scroll" rel="stylesheet" type="text/css" />
</head>

<body data-topbar="dark">
    <!-- Begin page -->
    <div id="layout-wrapper">

        <div th:replace="commons_personal::topbar(${username})"></div>
        <div th:replace="commons_personal::leftSidebar(${role})"></div>

        <!-- Start right Content here -->
        <div class="main-content">
            <div class="page-content">
                <div class="container-fluid">
                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-flex align-items-center justify-content-between" id="page">
                                <h4 class="mb-0">首页</h4>
                            </div>
                        </div>
                    </div>
                    <!-- end page title -->

                    <div class="row">
                        <div class="col-xl-12">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="card">
                                        <div class="card-body">
                                            <a  href="#">
                                                <div class="media">
                                                    <div class="media-body overflow-hidden">
                                                        <p class="text-truncate font-size-14 mb-2"></p>
                                                        <h4 class="mb-0">活跃用户</h4>
                                                    </div>
                                                    <div class="text-primary"><i class="ri-stack-line font-size-24"></i></div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="card-body border-top py-3">
                                            <div class="text-truncate">
                                                <span class="text-muted ml-2" th:text="${number_of_active_user}"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card">
                                        <div class="card-body">
                                            <a  href="admin_personal_info">
                                                <div class="media">
                                                    <div class="media-body overflow-hidden">
                                                        <p class="text-truncate font-size-14 mb-2"></p>
                                                        <h4 class="mb-0">注册用户</h4>
                                                    </div>
                                                    <div class="text-primary"><i class="ri-stack-line font-size-24"></i></div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="card-body border-top py-3">
                                            <div class="text-truncate">
                                                <span class="text-muted ml-2" th:text="${number_of_personal_user}"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card">
                                        <div class="card-body">
                                            <a href="admin_plan">
                                                <div class="media">
                                                    <div class="media-body overflow-hidden">
                                                        <p class="text-truncate font-size-14 mb-2"></p>
                                                        <h4 class="mb-0">套餐数目</h4>
                                                    </div>
                                                    <div class="text-primary"><i class="ri-stack-line font-size-24"></i></div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="card-body border-top py-3">
                                            <div class="text-truncate">
                                                <!--
                                                <span class="badge badge-soft-success font-size-11">
                                                    <i class="mdi mdi-menu-up"></i>2.4%
                                                </span>
                                                -->
                                                <span class="text-muted ml-2" th:text="${number_of_plan}"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card">
                                        <div class="card-body">
                                            <a href="#">
                                                <div class="media">
                                                    <div class="media-body overflow-hidden">
                                                        <p class="text-truncate font-size-14 mb-2"></p>
                                                        <h4 class="mb-0">课程类目</h4>
                                                    </div>
                                                    <div class="text-primary"><i class="ri-stack-line font-size-24"></i></div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="card-body border-top py-3">
                                            <div class="text-truncate">
                                                <span class="text-muted ml-2" th:text="${number_of_category}"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

<!--                        <div class="col-xl-12">-->
<!--                            <div class="card">-->
<!--                                <div class="card-body">-->
<!--                                    <p class="text-truncate font-size-14 mb-2">上次登录时间</p>-->
<!--                                    <h4 class="mb-0" th:text="${#dates.format(lastLoginTime,'yyyy-MM-dd HH:mm:ss')}"></h4>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
                        <div class="col-xl-12">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="card">
                                        <div class="card-body">
                                            <div id="chart1" style=" height: 340px;"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <div id="chart2" style=" height: 340px;"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <div id="chart3" style="height: 340px;"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <div id="chart4" style=" height: 340px;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                </div>
                <!-- container-fluid -->
            </div>

            <!-- End Page-content -->

            <div th:replace="commons_personal::footer"></div>

        </div>
        <!-- end main content-->
    </div>
    <!-- END layout-wrapper -->


    <!-- JAVASCRIPT -->
    <!-- jquery -->
    <script src="static/js/libs/jquery/jquery.min.js"></script>
    <!-- bootstrap/js -->
    <script src="static/js/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- metismenu -->
    <script src="static/js/libs/metismenu/metisMenu.min.js"></script>
    <!-- simplebar -->
    <script src="static/js/libs/simplebar/simplebar.min.js"></script>
    <!-- node-waves -->
    <script src="static/js/libs/node-waves/waves.min.js"></script>
    <!-- app.js -->
    <script src="static/js/app.js"></script>
    <script src="static/js/libs/chart.js/echarts.min.js"></script>
    <script src="static/js/libs/chart.js/mytheme.js"></script>

    <script th:inline="javascript" type="text/javascript">
        $(document).ready(function() {

            var option1 = {
                title : {
                    text: '最近7天登录人数（单位：人）',
                    x:'center'

                },
                tooltip : {
                    trigger: 'item'
                },
                legend: {
                    orient : 'vertical',
                    x : 'right',
                    data:['套餐用户','非套餐用户']
                },

                calculable : true,
                xAxis : [
                    {
                        type : 'category',
                        boundaryGap : false,
                        //data : ['周一','周二','周三','周四','周五','周六','周日']
                        data: getday()
                    }
                ],
                yAxis : [
                    {
                        type : 'value'
                    }
                ],
                series : [
                    {
                        name:'套餐用户',
                        type:'line',
                        stack: '人',
                        data: [20, 30,40,10,30,80,50]
                    },
                    {
                        name:'非套餐用户',
                        type:'line',
                        stack: '人',
                        data: [10, 10,5,15,10,15,2]
                    }
                ]
            };

            var option2 = {
                title : {
                    text: '用户类别比例',
                    x:'center'
                },
                tooltip : {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                },
                legend: {
                    orient : 'vertical',
                    x : 'right',
                    y: 50,
                    data:['套餐用户','非套餐用户']
                },
                calculable : true,
                series : [
                    {
                        name:'用户',
                        type:'pie',
                        radius : '55%',
                        center: ['50%', '60%'],
                        data:[
                            {value:20, name:'套餐用户'},
                            {value:50, name:'非套餐用户'}
                        ]
                    }
                ]
            };

            var option3 = {
                title: {
                    text: '套餐销售量排名',
                    x:'center'
                },
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'shadow'
                    }
                },
                // legend: {
                //     // data: ['2011年', '2012年']
                // },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                xAxis: {
                    type: 'category',
                    data: ['套餐1', '套餐2', '套餐3', '套餐4', '套餐5']
                },
                yAxis: {
                    type: 'value',
                    boundaryGap: [0, 0.01]
                },
                series: [
                    {
                        name: '销售量',
                        type: 'bar',
                        barWidth : 40,
                        data: [100,80,60,10,5],
                        markPoint: {
                            itemStyle: {
                                color: function (params) {
                                    var colorList = [
                                        "#5438dc",
                                        "#1cbb8c",
                                        "#fcb92c",
                                        "#ff3d60",
                                        "#4aa3ff",
                                        "#788880"
                                    ];
                                    return colorList[params.dataIndex % colorList.length];
                                }
                            },
                            data: [
                                {itemStyle: {color: '#5438dc'}, value:100, name:'套餐1', xAxis: 0, yAxis: 100},
                                {itemStyle: {color: '#1cbb8c'}, value:80, name:'套餐2', xAxis: 1, yAxis: 80},
                                {itemStyle: {color: '#fcb92c'}, value:60, name:'套餐3', xAxis: 2, yAxis: 60},
                                {itemStyle: {color: '#ff3d60'}, value:10, name:'套餐4', xAxis: 3, yAxis: 10},
                                {itemStyle: {color: '#4aa3ff'}, value:5, name:'套餐5', xAxis: 4, yAxis: 5}
                            ]
                        },
                        itemStyle: {
                            color:function(params){
                                var colorList = [
                                    "#5438dc",
                                    "#1cbb8c",
                                    "#fcb92c",
                                    "#ff3d60",
                                    "#4aa3ff",
                                    "#788880"
                                ];
                                return colorList[params.dataIndex % colorList.length];
                            }
                        }
                    }
                ]
            };

            var option4 = {
                title : {
                    text: '套餐销售量比例',
                    x:'center'
                },
                tooltip : {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                },
                legend: {
                    orient : 'vertical',
                    x : 'right',
                    y: 50,
                    data:['套餐1','套餐2','套餐3']
                },
                calculable : true,
                series : [
                    {
                        name:'套餐',
                        type:'pie',
                        radius : '55%',
                        center: ['50%', '60%'],
                        data:[
                            {value:20, name:'套餐1'},
                            {value:50, name:'套餐2'},
                            {value:30, name:'套餐3'}
                        ]
                    }
                ]
            };

            var myChart1 = echarts.init(document.getElementById('chart1'), 'mytheme');
            var myChart2 = echarts.init(document.getElementById('chart2'), 'mytheme');
            var myChart3 = echarts.init(document.getElementById('chart3'), 'mytheme');
            var myChart4 = echarts.init(document.getElementById('chart4'), 'mytheme');
            myChart1.setOption(option1);
            myChart2.setOption(option2);
            myChart3.setOption(option3);
            myChart4.setOption(option4);

            window.addEventListener("resize", function () {
                myChart1.resize();
                myChart2.resize();
                myChart3.resize();
                myChart4.resize();
            });
        })

        function getday() {
            let days = [];
            var date = new Date();
            for(let i=144; i>=0;i-=24){		//144是前六天的小时数
                let dateItem=new Date(date.getTime() - i * 60 * 60 * 1000);	//使用当天时间戳减去以前的时间毫秒（小时*分*秒*毫秒）
                let y = dateItem.getFullYear();	//获取年份
                let m = dateItem.getMonth() + 1;	//获取月份js月份从0开始，需要+1
                let d= dateItem.getDate();	//获取日期
                m = this.addDate0(m);	//给为单数的月份补零
                d = this.addDate0(d);	//给为单数的日期补零
                let valueItem= y + '-' + m + '-' + d;	//组合
                days.push(valueItem);	//添加至数组
            }
            //console.log('最近七天日期：',days);

            return days;
        }

        //给日期加0
        function addDate0(time) {
            if (time.toString().length == 1) {
                time = '0' + time.toString();
            }
            return time;
        }

        function getExpValue(){
            var experimentTimes = [[${sumExperimentTime}]];
            //console.log(experimentTimes);
            var times = [];
            for (var i=1; i<=7;i++){
                times.push(experimentTimes[i]/3600);
            }
            //console.log(times);
            return times;
        }

        function getVideoValue(){
            var videoTimes = [[${sumVideoTime}]];
            //console.log(videoTimes);
            var times = [];
            for (var i=1; i<=7;i++){
                times.push(videoTimes[i]/3600);
            }
            return times;
        }

    </script>

</body>

</html>