<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title>人工智能实验实训平台-后台管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<meta content="Premium Multipurpose Admin & Dashboard Template" name="description" /> -->
    <!--<meta content="Themesdesign" name="author" /> -->
    <link rel="shortcut icon" href="static/images/favicon.png">
    <!-- jquery.vectormap css -->
    <link href="static/js/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />
    <!-- DataTables -->
    <link href="static/js/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <!-- Responsive datatable examples -->
    <link href="static/js/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <!-- Button datatable examples -->
    <link href="static/js/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <!-- Bootstrap Css -->
    <link href="static/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons css -->
    <link href="static/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="static/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />
</head>

<body data-sidebar="light">
    <!-- Begin page -->
    <div id="layout-wrapper">

        <div th:replace="commons::topbar(${username})"></div>
        <div th:replace="commons::leftSidebar"></div>
        
        <!-- Start right Content here -->
        <div class="main-content">
            <div class="page-content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-flex align-items-center justify-content-between" id="page">
                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="#">视频课程</a></li>
                                        <li class="breadcrumb-item active">视频课程管理</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title"></h4>
                                    <div>
                                        <table id="datatable-buttons" class="table table-striped table-bordered table-centered" style="white-space:nowrap;">
                                            <thead style="text-align: center;">
                                                <tr>
                                                    <th class="sorting_disabled">操作</th>
                                                    <th>课程编号</th>
                                                    <th>课程名称</th>
                                                    <th>所属章节号</th>
                                                    <th>所属章节名</th>
                                                    <th>所属小节号</th>
                                                    <th>视频地址</th>
                                                </tr>
                                            </thead>
                                            <tbody style="text-align: center;">
                                                <td>
                                                    <div style="width:30px;"></div>
                                                    <a href="#" class="add" style="color:#ff3d60" data-original-title="Add">
                                                        <i class="mdi mdi-text-box-plus font-size-18"></i>
                                                    </a>
                                                    <a href="#" class="edit" style="color:#1cbb8c" data-original-title="Edit">
                                                        <i class="mdi mdi-pencil font-size-18"></i>
                                                    </a>
                                                    <a href="#" class="delete" style="color:#505d69" data-original-title="Delete">
                                                        <i class="mdi mdi-trash-can font-size-18"></i>
                                                    </a>
                                                </td>
                                                <td>1</td>
                                                <td>python安装</td>
                                                <td>1</td>
                                                <td>python安装</td>
                                                <td>1</td>
                                                <td><a style="color:#5664d2">查看视频</a></td>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                    
            </div>
            <!-- container-fluid -->

            <div th:replace="commons::footer"></div>
        </div>
        <!-- end main content-->
    
    <!-- END layout-wrapper -->
    </div>
   
 

    <!-- JAVASCRIPT -->
    <!-- jquery -->
    <script src="static/js/libs/jquery/jquery.min.js"></script>
    <!-- bootstrap/js -->
    <script src="static/js/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- metismenu -->
    <script src="static/js/libs/metismenu/metisMenu.min.js"></script>
    <!-- simplebar -->
    <script src="static/js/libs/simplebar/simplebar.min.js"></script>
    <!-- node-waves -->
    <script src="static/js/libs/node-waves/waves.min.js"></script>
    <!-- apexcharts -->
    <script src="static/js/libs/apexcharts/apexcharts.min.js"></script>
    <!-- admin-resources/jquery.vectormap -->
    <script src="static/js/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="static/js/libs/admin-resources/jquery.vectormap/maps/jquery-jvectormap-us-merc-en.js"></script>
    <!-- datatables -->
    <script src="static/js/libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="static/js/libs/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="static/js/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="static/js/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="static/js/libs/datatables.net-buttons/js/buttons.colVis.min.js"></script>
    <script src="static/js/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="static/js/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="static/js/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
    <script src="static/js/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="static/js/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
    <script src="static/js/libs/datatables.net-select/js/dataTables.select.min.js"></script>   
    <!-- jszip -->
    <script src="static/js/libs/jszip/jszip.min.js"></script>
    <!-- pdfmake/build -->
    <script src="static/js/libs/pdfmake/build/pdfmake.min.js"></script>
    <script src="static/js/libs/pdfmake/build/vfs_fonts.js"></script>
    <!-- js/pages/ -->
    <script src="static/js/pages/datatables.init.js"></script>
    <script src="static/js/pages/dashboard.init.js"></script>
    <script src="static/js/app.js"></script>


</body>

</html>