<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title th:replace="commons_personal::title"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<meta content="Premium Multipurpose Admin & Dashboard Template" name="description" /> -->
    <!--<meta content="Themesdesign" name="author" /> -->
    <link rel="shortcut icon" href="static/images/favicon.png">
    <!-- jquery.vectormap css -->
    <link href="static/js/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />
    <!-- Bootstrap Css -->
    <link href="static/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons css -->
    <link href="static/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="static/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />

    <link href="static/css/scroll.css" id="scroll-style" rel="stylesheet" type="text/css" />
</head>

<body data-topbar="dark">
<!-- Begin page -->
<div id="layout-wrapper">
    <div th:replace="commons_personal::topbar(${planmodel.username})"></div>
    <div th:replace="commons_personal::leftSidebar(${planmodel.role})"></div>

    <!-- Start right Content here -->
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-flex align-items-center justify-content-between">
                            <h4 class="mb-0">套餐详情</h4>
                        </div>
                    </div>
                </div>
                <!-- end page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <form id="form" class="needs-validation" action="/plan" method="post" novalidate="" style="pediting-left: 20px;">
                                    <div class="form-group row">
                                        <div class="col-md-2"></div>
                                        <div class="col-md-8">
                                            <label for="name">套餐名称：</label>
                                            <input name="name" th:value="${planmodel.plan.name}"  type="text"  id="name" readonly style="border: none">
                                        </div>
                                    </div>

                                    <div class="form-group row" >
                                        <div class="col-md-2"></div>
                                        <div class="col-md-8">
                                            <label for="name">所含类别：</label>
                                            <ul th:each="cat:${planmodel.plan.categories}" style="padding-left: 100px;">
                                                <li th:text="${cat.name}+'： '+${cat.brief}"></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-2"></div>
                                        <div class="col-md-8">
                                            <label for="price">套餐价格：</label>
                                            <input name="price" th:value="${planmodel.plan.price}"  type="text"  id="price" readonly style="border: none">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-md-2"></div>
                                        <div class="col-md-8">
                                            <label for="discount">套餐折扣：</label>
                                            <input name="discount" th:value="${planmodel.plan.discount}"  type="text"  id="discount" readonly style="border: none">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-md-2"></div>
                                        <div class="col-md-8">
                                            <label for="validPeriodMonth">有效期：</label>
                                            <input name="validPeriodMonth" th:value="${planmodel.plan.validPeriodMonth}+'个月'" type="text"  id="validPeriodMonth" readonly style="border: none">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-md-2"></div>
                                        <div class="col-md-8">
                                            <label for="selling">是否上架：</label>
                                            <input name="selling" th:value="${planmodel.plan.selling==true?'是':'否'}" type="text"  id="selling" readonly style="border: none">
                                        </div>
                                    </div>

                                    <div class="row" style="display: block;text-align: center;">
                                        <a th:href="@{admin_plan_edit(id=${planmodel.plan.id})}" th:title="'修改'" class="edit" style="color:#1cbb8c">
                                            <i class="mdi mdi-pencil font-size-18"></i>修改
                                        </a>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <!-- container-fluid -->

        <div th:replace="commons_personal::footer"></div>
    </div>
    <!-- end main content-->

    <!-- END layout-wrapper -->
</div>



<!-- JAVASCRIPT -->
<!-- jquery -->
<script src="static/js/libs/jquery/jquery.min.js"></script>
<!-- bootstrap/js -->
<script src="static/js/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- metismenu -->
<script src="static/js/libs/metismenu/metisMenu.min.js"></script>
<!-- simplebar -->
<script src="static/js/libs/simplebar/simplebar.min.js"></script>
<!-- node-waves -->
<script src="static/js/libs/node-waves/waves.min.js"></script>
<!-- apexcharts -->
<script src="static/js/libs/apexcharts/apexcharts.min.js"></script>
<!-- admin-resources/jquery.vectormap -->
<script src="static/js/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script src="static/js/libs/admin-resources/jquery.vectormap/maps/jquery-jvectormap-us-merc-en.js"></script>
<!-- js/pages/ -->
<script src="static/js/app.js"></script>

<script type="text/javascript" th:inline="javascript">


</script>


</body>

</html>