<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <title>人工智能实验实训平台-后台管理</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut" href="static/images/favicon.png" />
        <!-- Bootstrap Css -->
        <link href="static/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
        <!-- Icons css -->
        <link href="static/css/icons.min.css" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link href="static/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />
        <!-- Twitter-bootstrap-wizard css -->
        <link href="static/js/libs/twitter-bootstrap-wizard/prettify.css" rel="stylesheet" type="text/css" />

    </head>
    <body class="">
        <header id="page-topbar">
            <div class="navbar-header">
                <div class="d-flex">
                    <!-- LOGO -->
                    <div class="navbar-brand-box">
                        <a href="admin_index" class="logo logo-dark">
                                        <span class="logo-sm">
                                            <img src="static/images/logo-sm-dark.png" alt="" height="22">
                                        </span>
                            <span class="logo-lg">
                                            <img src="static/images/logo-dark.png" alt="" height="30">
                                        </span>
                        </a>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="dropdown d-none d-lg-inline-block ml-1">
                        <button type="button" class="btn header-item noti-icon waves-effect" data-toggle="fullscreen">
                            <i class="ri-fullscreen-line"></i>
                        </button>
                    </div>
                </div>
            </div>
        </header>

        <div style="padding-top:70px">
            <div class="container-fluid">
                <div class="row" style="justify-content: center;align-items: center;padding: 120px;">
                    <div class="col-8">
                        <div class="card">
                            <div class="card-body">
                                <div id="progrss-wizard" class="twitter-bs-wizard">
                                    <ul class="twitter-bs-wizard-nav nav-justified">
                                        <li class="nav-item">
                                            <a href="#input_username" class="nav-link" data-toggle="tab" style="pointer-events: none;">
                                                <span class="step-number">01</span><span class="step-title">账号确定</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#identity_user" class="nav-link" data-toggle="tab" style="pointer-events: none;">
                                                <span class="step-number">02</span>
                                                <span class="step-title">身份验证</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#reset_pwd" class="nav-link" data-toggle="tab" style="pointer-events: none;">
                                                <span class="step-number">03</span>
                                                <span class="step-title">重置密码</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#reset_success" class="nav-link" data-toggle="tab" style="pointer-events: none;">
                                                <span class="step-number">04</span>
                                                <span class="step-title">完成</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <div id="bar" class="progress mt-4">
                                        <div class="progress-bar bg-success progress-bar-striped progress-bar-animated"></div>
                                    </div>
                                    <div class="tab-content twitter-bs-wizard-tab-content" style="padding-top: 50px;justify-content: center;align-items: center;min-height: 150px;">
                                        <div class="tab-pane" id="input_username">
                                            <form>
                                                <div class="row" style="justify-content: center;align-items: center;">
                                                    <div class="col-lg-10">
                                                        <div class="form-group">
                                                            <label for="username">用户名</label>
                                                            <input name="username" type="text" class="form-control" id="username">
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="tab-pane" id="identity_user">
                                            <div>
                                                <form>
                                                    <div class="row" style="justify-content: center;align-items: center;">
                                                        <div class="col-lg-10">
                                                            <div class="form-group">
                                                                <label for="email">邮箱</label>
                                                                <input name="email" type="text" class="form-control" id="email">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-10">
                                                            <div class="form-group">
                                                                <label for="progress-phone">手机号</label>
                                                                <input name="phonenumber" type="text" class="form-control" id="progress-phone">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="reset_pwd">
                                            <div>
                                                <form>
                                                    <div class="row" style="justify-content: center;align-items: center;">
                                                        <div class="col-lg-10">
                                                            <div class="form-group">
                                                                <label for="new-pwd">设置新密码</label>
                                                                <input name="new_pwd" type="password" class="form-control" id="new-pwd">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="reset_success">
                                            <!--                                            <div class="row justify-content-center">-->
                                            <!--                                                <div class="col-lg-6"><div class="text-center">-->
                                            <!--                                                    <div class="mb-4">-->
                                            <!--                                                        <i class="mdi mdi-check-circle-outline text-success display-4"></i>-->
                                            <!--                                                    </div>-->
                                            <!--                                                    <div>-->
                                            <!--                                                        <h5>密码已重置</h5>-->
                                            <!--                                                        <p class="text-muted"><a href="admin_login">跳转到登录页面</a></p>-->
                                            <!--                                                    </div>-->
                                            <!--                                                </div>-->
                                            <!--                                                </div>-->
                                            <!--                                            </div>-->
                                        </div>
                                    </div>
                                    <ul class="pager wizard twitter-bs-wizard-pager-link">
                                        <li class="previous">
                                            <a href="#" id="previous">上一步</a>
                                        </li>
                                        <li class="next">
                                            <a href="#" id="next">下一步</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer" style="left:0">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-right d-none d-sm-block"><script>document.write(new Date().getFullYear())</script>© 人工智能实验实训平台</div>
                    </div>
                </div>
            </div>
        </footer>

        <!-- JAVASCRIPT -->
        <!-- jquery -->
        <script src="static/js/libs/jquery/jquery.min.js"></script>
        <!-- bootstrap/js -->
        <script src="static/js/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- metismenu -->
        <script src="static/js/libs/metismenu/metisMenu.min.js"></script>
        <!-- simplebar -->
        <script src="static/js/libs/simplebar/simplebar.min.js"></script>
        <!-- node-waves -->
        <script src="static/js/libs/node-waves/waves.min.js"></script>
        <!-- twitter-bootstrap-wizard -->
        <script src="static/js/libs/twitter-bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>
        <script src="static/js/libs/twitter-bootstrap-wizard/prettify.js"></script>
        <!-- js/pages/ -->
        <script src="static/js/pages/form-wizard.init.js"></script>
        <!-- app.js -->
        <script src="static/js/app.js"></script>

        <script type="text/javascript" th:inline="javascript">
            var content = {"username":'',"email":'', "phonenumber":'', "new_pwd":''};
            document.getElementById("next").onclick = function() {
                $("#progrss-wizard input").each(function () {
                    content[this.name] = this.value;
                    //console.log(content);
                    if(content["new_pwd"]){
                        $.ajax({
                            url: "/admin_reset_pwd_confirm",
                            type: "post",
                            data: content,
                            success:function () {
                                document.getElementById("reset_success").innerHTML="<div class=\"row justify-content-center\">\n" +
                                    "                                                <div class=\"col-lg-6\"><div class=\"text-center\">\n" +
                                    "                                                    <div class=\"mb-4\">\n" +
                                    "                                                        <i class=\"mdi mdi-check-circle-outline text-success display-4\"></i>\n" +
                                    "                                                    </div>\n" +
                                    "                                                    <div>\n" +
                                    "                                                        <h5>密码已重置</h5>\n" +
                                    "                                                        <p class=\"text-muted\"><a href=\"admin_login\">跳转到登录页面</a></p>\n" +
                                    "                                                    </div>\n" +
                                    "                                                </div>\n" +
                                    "                                                </div>\n" +
                                    "                                            </div>";
                            },
                            error:function () {
                                document.getElementById("reset_success").innerHTML="<div class=\"row justify-content-center\">\n" +
                                    "                                                <div class=\"col-lg-6\"><div class=\"text-center\">\n" +
                                    "                                                    <div>\n" +
                                    "                                                        <h3>密码重置失败</h3>\n" +
                                    "                                                        <p class=\"text-muted\"><a href=\"admin_reset_pwd\">重新设置</a></p>\n" +
                                    "                                                    </div>\n" +
                                    "                                                </div>\n" +
                                    "                                                </div>\n" +
                                    "                                            </div>";
                                //alert("ajax send failed");
                                //window.location.href="admin_reset_pwd";
                                alert("重置失败");
                            }
                        })
                    }
                })
            };

        </script>
</body>
</html>