<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="utf-8" />
        <title>人工智能实验实训平台-后台管理</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--<meta content="Premium Multipurpose Admin & Dashboard Template" name="description" /> -->
        <!--<meta content="Themesdesign" name="author" /> -->
        <link rel="shortcut icon" href="static/images/favicon.png">
        <!-- jquery.vectormap css -->
        <link href="static/js/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />
        <!-- DataTables -->
        <link href="static/js/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
        <!-- Responsive datatable examples -->
        <link href="static/js/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
        <!-- Button datatable examples -->
        <link href="static/js/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
        <!-- Bootstrap Css -->
        <link href="static/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
        <!-- Icons css -->
        <link href="static/css/icons.min.css" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link href="static/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />

        <link href="static/css/scroll.css" id="scroll-style" rel="stylesheet" type="text/css" />
    </head>

    <body data-topbar="dark">
            <!-- Begin page -->
            <div id="layout-wrapper">

                <div th:replace="commons::topbar(${stumodel.username})"></div>
                <div th:replace="commons::leftSidebar(${stumodel.role})"></div>

                <!-- Start right Content here -->
                <div class="main-content">
                    <div class="page-content">
                        <div class="container-fluid">
                            <!-- start page title -->
                            <div class="row">
                                <div class="col-12">
                                    <div class="page-title-box d-flex align-items-center justify-content-between">
                                        <h4 class="mb-0">修改学生</h4>
                                    </div>
                                </div>
                            </div>
                            <!-- end page title -->
                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <form id="form" class="needs-validation" action="/edit_student" method="post" th:object="${stumodel.student}" novalidate="" style="padding-left: 20px;">
                                                <div class="form-group row">
                                                    <label for="edit_stuNumber" class="col-md-2 col-form-label"><span style="color: #ff3d60;">&#8194;</span>学号：</label>
                                                    <div class="col-md-10">
                                                        <input name="stuNumber" th:value="*{stuNumber}" class="form-control" type="text"  id="edit_stuNumber" readonly style="border: none;">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="edit_stuName" class="col-md-2 col-form-label"><span style="color: #ff3d60;">&#8194;</span>姓名：</label>
                                                    <div class="col-md-10">
                                                        <input name="name" th:value="*{name}" class="form-control" type="text" id="edit_stuName">
                                                    </div>
                                                </div>
                                                <div class="form-group row" style="display: none">
                                                    <label for="edit_password" class="col-md-2 col-form-label"><span style="color: #ff3d60;">*</span>密码：</label>
                                                    <div class="col-md-10">
                                                        <input name="password" th:value="*{password}" class="form-control" type="password" id="edit_password">
                                                    </div>
                                                </div>
                                                <div class="form-group row" th:if="${stumodel.role eq 'admin'}">
                                                    <label for="edit_school" class="col-md-2 col-form-label"><span style="color: #ff3d60;">*</span>学校：</label>
                                                    <div class="col-md-10">
                                                        <input name="school" th:value="*{school}" id="edit_school" class="form-control" type="text">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="edit_major" class="col-md-2 col-form-label"><span style="color: #ff3d60;">*</span>所属专业：</label>
                                                    <div class="col-md-10">
                                                        <select name="majorId" th:value="*{majorId}" class="form-control" id="edit_major" onchange="getClass()">
                                                            <option th:value="*{majorId}" style="display: none;" th:text="*{majorName}"></option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="edit_class" class="col-md-2 col-form-label"><span style="color: #ff3d60;">*</span>所属班级：</label>
                                                    <div class="col-md-10">
                                                        <select id="edit_class" name="classId" th:value="*{classId}" class="form-control">
                                                            <option th:value="*{classId}" style="display: none;" th:text="*{className}"></option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="edit_phoneNumber" class="col-md-2 col-form-label"><span style="color: #ff3d60;">*</span>联系手机：</label>
                                                    <div class="col-md-10">
                                                        <input name="phoneNumber" th:value="*{phoneNumber}" id="edit_phoneNumber" class="form-control" type="text">
                                                    </div>
                                                </div>
                                                <div id="alert" class="alert alert-danger alert-dismissible fade show" role="alert" style="display:none;margin-top: 5px;padding: 5px;padding-left: 20px;">
                                                    <i class="mdi mdi-block-helper mr-2">
                                                        <span id="result_msg" style="padding-left: 10px;"></span>
                                                    </i>
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="padding: 5px;">
                                                        <span aria-hidden="true">×</span>
                                                    </button>
                                                </div>
                                                <div class="row" style="display: block;text-align: center;">
                                                    <a href="admin_student" class="btn btn-light btn-rounded waves-effect waves-light">
                                                        <i class="ri-close-line align-middle mr-2"></i>取消
                                                    </a>
                                                    <button type="button" onclick="submitForm()" class="btn btn-success btn-rounded waves-effect waves-light" style="margin: 20px;">
                                                        <i class="ri-check-line align-middle mr-2"></i>提交
                                                    </button>
                                                </div>
                                                <p style="margin-left: 10px;">注：带<span style="color: #ff3d60;">*</span>号为必填项</p>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <!-- container-fluid -->

                    <div th:replace="commons::footer"></div>
                </div>
                <!-- end main content-->

            <!-- END layout-wrapper -->
            </div>



            <!-- JAVASCRIPT -->
            <!-- jquery -->
            <script src="static/js/libs/jquery/jquery.min.js"></script>
            <!-- bootstrap/js -->
            <script src="static/js/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
            <!-- metismenu -->
            <script src="static/js/libs/metismenu/metisMenu.min.js"></script>
            <!-- simplebar -->
            <script src="static/js/libs/simplebar/simplebar.min.js"></script>
            <!-- node-waves -->
            <script src="static/js/libs/node-waves/waves.min.js"></script>
            <!-- apexcharts -->
            <script src="static/js/libs/apexcharts/apexcharts.min.js"></script>
            <!-- admin-resources/jquery.vectormap -->
            <script src="static/js/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.min.js"></script>
            <script src="static/js/libs/admin-resources/jquery.vectormap/maps/jquery-jvectormap-us-merc-en.js"></script>
            <!-- datatables -->
            <script src="static/js/libs/datatables.net/js/jquery.dataTables.min.js"></script>
            <script src="static/js/libs/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
            <script src="static/js/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
            <script src="static/js/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
            <script src="static/js/libs/datatables.net-buttons/js/buttons.colVis.min.js"></script>
            <script src="static/js/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
            <script src="static/js/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
            <script src="static/js/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
            <script src="static/js/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
            <script src="static/js/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
            <script src="static/js/libs/datatables.net-select/js/dataTables.select.min.js"></script>
            <!-- jszip -->
            <script src="static/js/libs/jszip/jszip.min.js"></script>
            <!-- pdfmake/build -->
            <script src="static/js/libs/pdfmake/build/pdfmake.min.js"></script>
            <script src="static/js/libs/pdfmake/build/vfs_fonts.js"></script>
            <!-- js/pages/ -->
            <script src="static/js/pages/datatables.init.js"></script>
            <script src="static/js/pages/dashboard.init.js"></script>
            <script src="static/js/app.js"></script>

            <script type="text/javascript" th:inline="javascript">
                $(function () {
                    //发送请求获取所有的专业
                    $.ajax({
                        type:"GET",
                        url:"get_all_major",
                        success:function (data) {
                            console.log(data);
                            for(var i = 0;i < data.majors.length;i++){
                                var option = $("<option></option>").text(data.majors[i].majorName);
                                option.attr("value", data.majors[i].id);
                                //将option添加到select标签中
                                $("#edit_major").append(option);
                            }
                        },
                        error:function (){
                            document.getElementById("alert").style.display="";
                            document.getElementById("result_msg").innerHTML = "获取专业列表失败";
                        }
                    })

                    getClass();

                })

                function getClass(){
                    var major = document.getElementById("edit_major").value;
                    //console.log("专业: "+major);
                    $.ajax({
                        type:"GET",
                        url:"get_class_by_major",
                        data: {"major": major},
                        success:function (data) {
                            console.log(data);
                            for(var i = 0;i < data.class_.length;i++){
                                var option = $("<option></option>").text(data.class_[i].className);
                                option.attr("value", data.class_[i].id);
                                $("#edit_class").append(option);
                            }
                        },
                        error: function(){
                            document.getElementById("alert").style.display="";
                            document.getElementById("result_msg").innerHTML = "获取班级列表失败";
                        }
                    })
                }

                function checkForm(){
                    var oStuName = document.getElementById("edit_stuName");
                    var oSchool = document.getElementById("edit_school");
                    var oPhone = document.getElementById("edit_phoneNumber");
                    if (!oStuName.value){
                        document.getElementById("alert").style.display="";
                        document.getElementById("result_msg").innerHTML = "请填写姓名！";
                        return false;
                    }
                    if([[${stumodel.role eq 'admin'}]]){
                        var oSchool = document.getElementById("edit_school");
                        if (!oSchool.value) {
                            document.getElementById("alert").style.display = "";
                            document.getElementById("result_msg").innerHTML = "请填写学校！";
                            return false;
                        }
                    }
                    if (!oPhone.value){
                        document.getElementById("alert").style.display="";
                        document.getElementById("result_msg").innerHTML = "请填写联系手机！";
                        return false;
                    }
                    return true;
                }

                function submitForm(){
                    if (checkForm()){
                        oForm = document.getElementById("form");
                        oForm.submit();
                    }
                }

            </script>


    </body>

</html>