<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="utf-8" />
        <title>人工智能实验实训平台-后台管理</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--<meta content="Premium Multipurpose Admin & Dashboard Template" name="description" /> -->
        <!--<meta content="Themesdesign" name="author" /> -->
        <link rel="shortcut icon" href="static/images/favicon.png">
        <!-- jquery.vectormap css -->
        <link href="static/js/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />
        <!-- DataTables -->
        <link href="static/js/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
        <!-- Responsive datatable examples -->
        <link href="static/js/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
        <!-- Button datatable examples -->
        <link href="static/js/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
        <!-- Bootstrap Css -->
        <link href="static/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
        <!-- Icons css -->
        <link href="static/css/icons.min.css" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link href="static/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />
    </head>

    <body data-sidebar="light">
        <!-- Begin page -->
        <div id="layout-wrapper">

            <div th:replace="commons::topbar(${majormodel.username})"></div>
            <div th:replace="commons::leftSidebar(${majormodel.role})"></div>

            <!-- Start right Content here -->
            <div class="main-content">
                <div class="page-content">
                    <div class="container-fluid">
                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box d-flex align-items-center justify-content-between">
                                    <h4 class="mb-0">增加专业</h4>
                                </div>
                            </div>
                        </div>
                        <!-- end page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <form class="needs-validation" action="/add_major" method="post" th:object="${majormodel.major}" novalidate="" style="padding-left: 20px;">
                                            <div class="form-group row">
                                                <label for="add_majorCode" class="col-md-2 col-form-label">专业代码：</label>
                                                <div class="col-md-10">
                                                    <input name="majorCode" th:value="*{majorCode}" class="form-control" type="text" value="" id="add_majorCode">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="add_major_name" class="col-md-2 col-form-label">专业名称：</label>
                                                <div class="col-md-10">
                                                    <input name="majorName" th:value="*{majorName}" class="form-control" type="text" value=" " id="add_major_name">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="add_create_user" class="col-md-2 col-form-label">创建人员：</label>
                                                <div class="col-md-10">
                                                    <input name="creator" th:value="${majormodel.username}" id="add_create_user" class="form-control" type="text" readonly style="border:none;">
                                                </div>
                                            </div>
<!--                                            <div class="form-group row">-->
<!--                                                <label for="add_create_time" class="col-md-2 col-form-label">创建时间：</label>-->
<!--                                                <div class="col-md-10">-->
<!--                                                    <input name="createTime" value="" id="add_create_time" class="form-control" type="text" readonly style="border:none;">-->
<!--                                                </div>-->
<!--                                            </div>-->
                                            <div class="row" style="display: block;text-align: center;">
                                                <a href="admin_major" class="btn btn-light btn-rounded waves-effect waves-light">
                                                    <i class="ri-close-line align-middle mr-2"></i>取消
                                                </a>
                                                <button type="submit" class="btn btn-success btn-rounded waves-effect waves-light" style="margin: 20px;">
                                                    <i class="ri-check-line align-middle mr-2"></i>提交
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <!-- container-fluid -->

                <div th:replace="commons::footer"></div>
            </div>
            <!-- end main content-->

            <!-- END layout-wrapper -->
        </div>



        <!-- JAVASCRIPT -->
        <!-- jquery -->
        <script src="static/js/libs/jquery/jquery.min.js"></script>
        <!-- bootstrap/js -->
        <script src="static/js/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- metismenu -->
        <script src="static/js/libs/metismenu/metisMenu.min.js"></script>
        <!-- simplebar -->
        <script src="static/js/libs/simplebar/simplebar.min.js"></script>
        <!-- node-waves -->
        <script src="static/js/libs/node-waves/waves.min.js"></script>
        <!-- admin-resources/jquery.vectormap -->
        <script src="static/js/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.min.js"></script>
        <script src="static/js/libs/admin-resources/jquery.vectormap/maps/jquery-jvectormap-us-merc-en.js"></script>
        <!-- bs-custom-file-inout -->
        <script src="static/js/libs/bs-custom-file-input/bs-custom-file-input.min.js"></script>
        <!-- js/pages/ -->
        <script src="static/js/pages/form-element.init.js"></script>
        <script src="static/js/app.js"></script>

        <script type="text/javascript" th:inline="javascript">
            window.onload = function() {
                var oTime = document.getElementById("add_create_time");
                setInterval(function() {
                    var time = new Date();  // 程序计时的月从0开始取值后+1
                    var m = time.getMonth() + 1;
                    var t = time.getFullYear() + "-" + m + "-"
                        + time.getDate();
                    oTime.value = t;
                }, 1000);
            };
        </script>


    </body>

</html>