<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>人工智能实验实训平台-后台管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="static/images/favicon.png" />
    <!-- Bootstrap Css -->
    <link href="static/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons css -->
    <link href="static/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="static/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />
    <!-- Twitter-bootstrap-wizard css -->
    <link href="static/js/libs/twitter-bootstrap-wizard/prettify.css" rel="stylesheet" type="text/css" />

</head>
<body data-sidebar="light">
    <!-- Begin page -->
    <div id="layout-wrapper">

        <div th:replace="commons::topbar(${username})"></div>
        <div th:replace="commons::leftSidebar"></div>

        <!-- ========== Main Content Start ========== -->
        <div class="main-content">
            <div class="page-content">
                <div class="container-fluid">
                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-flex align-items-center justify-content-between">
                                <h4 class="mb-0">修改个人资料</h4>
                            </div>
                        </div>
                    </div>
                    <!-- end page title -->

                    <div class="row">
                        <div class="col-xl-8">
                            <div class="card">
                                <div class="card-body">
                                    <form class="needs-validation" novalidate="">
                                        <div class="form-group row">
                                            <label for="example-text-input" class="col-md-2 col-form-label">账号：</label>
                                            <div class="col-md-10">
                                                <input name="loginNumber" class="form-control" type="text" th:value="${loginNumber}" id="example-text-input">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="example-text-input" class="col-md-2 col-form-label">姓名：</label>
                                            <div class="col-md-10">
                                                <input name="name" class="form-control" type="text" th:value="${username}" id="example-text-input">
                                            </div>
                                        </div>
<!--                                        <div class="form-group row">-->
<!--                                            <label for="email" class="col-md-2 col-form-label">邮箱</label>-->
<!--                                            <div class="col-md-10">-->
<!--                                                <input name="email" class="form-control" type="email" value="admin123@example.com" id="email">-->
<!--                                            </div>-->
<!--                                        </div>-->
                                        <div class="form-group row">
                                            <label for="tel" class="col-md-2 col-form-label">手机号码：</label>
                                            <div class="col-md-10">
                                                <input name="tel" class="form-control" type="tel" value="11122233345" id="tel">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="tel" class="col-md-2 col-form-label">教授专业代码：</label>
                                            <div class="col-md-10">
                                                <input name="majorCode" class="form-control" type="text" value="123" id="majorCode">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-2 col-form-label">所在学校：</label>
                                            <div class="col-md-10">
                                                <select class="form-control" name="org">
                                                    <option value="0">江南大学</option>
                                                    <option value="1">无锡职业学院</option>
                                                </select>
                                            </div>
                                        </div>
                                        <button class="btn btn-primary" type="submit" style="display:block;margin:0 auto">修改</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="card">
                                <div class="card-body">
<!--                                    <label class="col-md-3 col-form-label">头像：</label>-->
                                    <label >头像：</label>
                                    <div class="col-md-12">
                                        <img class="rounded-circle avatar-xl" src="static/images/login.png" alt="头像" data-holder-rendered="true" style="display:block;margin:0 auto">
                                    </div>
                                    <a href="#" class="btn btn-outline-primary waves-effect waves-light" style="display:block;margin:0 auto;max-width: 150px;">更换头像</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div th:replace="commons::footer"></div>
            </div>
        </div>

        <!-- Main Content End -->
    </div>


    <!-- JAVASCRIPT -->
    <!-- jquery -->
    <script src="static/js/libs/jquery/jquery.min.js"></script>
    <!-- bootstrap/js -->
    <script src="static/js/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- metismenu -->
    <script src="static/js/libs/metismenu/metisMenu.min.js"></script>
    <!-- simplebar -->
    <script src="static/js/libs/simplebar/simplebar.min.js"></script>
    <!-- node-waves -->
    <script src="static/js/libs/node-waves/waves.min.js"></script>
    <!-- twitter-bootstrap-wizard -->
    <script src="static/js/libs/twitter-bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>
    <script src="static/js/libs/twitter-bootstrap-wizard/prettify.js"></script>
    <!-- js/pages/ -->
    <script src="static/js/pages/form-wizard.init.js"></script>
    <!-- app.js -->
    <script src="static/js/app.js"></script>

</body>
</html>