<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title>人工智能实验实训平台-后台管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<meta content="Premium Multipurpose Admin & Dashboard Template" name="description" /> -->
    <!--<meta content="Themesdesign" name="author" /> -->
    <link rel="shortcut icon" href="static/images/favicon.png">
    <!-- jquery.vectormap css -->
    <link href="static/js/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />
    <!-- DataTables -->
    <link href="static/js/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <!-- Responsive datatable examples -->
    <link href="static/js/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <!-- Button datatable examples -->
    <link href="static/js/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <!-- Bootstrap Css -->
    <link href="static/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons css -->
    <link href="static/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="static/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />

    <link href="static/css/scroll.css" id="scroll-style" rel="stylesheet" type="text/css" />

    <style>
        span.number {
            width: 40px;
            height: 30px;
            font-size: 20px;
            text-align: center;
            float: left;
            background-color: #5664d2;
        }

        span.circle {
            height: 40px;
            width: 40px;
            line-height: 40px;
            border-radius: 50%;
            border: 2px solid;
            display: block;
            text-align: center;
            margin-bottom: 8px;
            font-style: normal;
        }

        h5.title {
            padding: 3px;
            padding-left: 50px;
        }

        .text-center{
            display: inline-block;
            vertical-align:middle;
            padding-left: 20px;
            padding-right: 20px;
            margin-bottom: 0px;
        }
    </style>
</head>

<body data-topbar="dark" id="body">
    <!-- Begin page -->
    <div id="layout-wrapper">

        <div th:replace="commons::topbar(${username})"></div>
        <div th:replace="commons::leftSidebar(${role})"></div>
        
        <!-- Start right Content here -->
        <div class="main-content">
            <div class="page-content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-flex align-items-center justify-content-between" id="page">
                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="#">学习记录</a></li>
                                        <li class="breadcrumb-item active">实验报告管理</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-11" style="margin-bottom: 15px;">
                                            <div class="form-inline float-md-right">
                                                <div class="search-box ml-2">
                                                    <div class="position-relative">
                                                        <input onkeyup="javascript:if(event.keyCode==13){search();}" id="search" type="text" class="form-control rounded" placeholder="根据实验名搜索...">
                                                        <i class="mdi mdi-magnify search-icon"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row" th:each="data:${reports}">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-10">
                                            <div class="card">
                                                <div class="card-body" style="display: table">
                                                    <div style="display: table-cell;vertical-align: top">
                                                        <span class="number badge badge-success" th:text="${dataStat.index+1}"></span>
                                                        <h5 class="title">实验名：子实验名</h5>
                                                    </div>
                                                    <div style="display: table-cell;vertical-align:middle">
                                                        <div class="text-center" style="display: inline-block;vertical-align:middle; padding-left: 100px;">
                                                            <a th:href="@{admin_report_list(id=${data.id})}">
<!--                                                            <a th:href="@{admin_report_list(sub_exp_id=${report.subExperimentId})}">-->
                                                                <i class="mdi mdi-monitor-eye" style="font-size: 30px;color: #5664d2"></i>
                                                                <p>报告审阅</p>
                                                            </a>
                                                        </div>
                                                        <div class="text-center" style="display: inline-block;vertical-align:middle">
                                                            <i class="mdi mdi-file-download-outline" style="font-size: 30px;color: #5664d2"></i>
                                                            <p>报告成绩</p>
                                                        </div>
                                                        <div class="text-center">
                                                            <i class="ri-line-chart-line" style="font-size: 30px;color: #5664d2"></i>
                                                            <p>报告分析</p>
                                                        </div>
                                                    </div>
                                                    <div style="display: table-cell;vertical-align: middle; float: right;">
                                                        <div class="text-center">
                                                            <span class='circle' style="border-color: #1cbb8c">1</span>
                                                            <p>已批</p>
                                                        </div>
                                                        <div class="text-center">
                                                            <span class='circle' style="border-color: #4aa3ff">1</span>
                                                            <p>未批</p>
                                                        </div>
                                                        <div class="text-center">
                                                            <span class='circle' style="border-color: #ff3d60">1</span>
                                                            <p>未交</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                    
            </div>
            <!-- container-fluid -->

            <div th:replace="commons::footer"></div>
        </div>
        <!-- end main content-->
    
    <!-- END layout-wrapper -->
    </div>
   
 

    <!-- JAVASCRIPT -->
    <!-- jquery -->
    <script src="static/js/libs/jquery/jquery.min.js"></script>
    <!-- bootstrap/js -->
    <script src="static/js/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- metismenu -->
    <script src="static/js/libs/metismenu/metisMenu.min.js"></script>
    <!-- simplebar -->
    <script src="static/js/libs/simplebar/simplebar.min.js"></script>
    <!-- node-waves -->
    <script src="static/js/libs/node-waves/waves.min.js"></script>
    <!-- apexcharts -->
    <script src="static/js/libs/apexcharts/apexcharts.min.js"></script>
    <!-- admin-resources/jquery.vectormap -->
    <script src="static/js/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="static/js/libs/admin-resources/jquery.vectormap/maps/jquery-jvectormap-us-merc-en.js"></script>
    <!-- js/pages/ -->
    <script src="static/js/app.js"></script>

    <script type="text/javascript" th:inline="javascript">

        var searchValue = "";
        var oSearch = document.getElementById("search");

        function search(){
            searchValue = oSearch.value;
            if (searchValue == ""){
                window.location.hash="#body";
            }
            else{
                var list = document.querySelectorAll("h5");
                if (list[0].innerHTML.indexOf(searchValue) != -1){
                }
                else{
                    for (var i=1; i<list.length;i++){
                        if(list[i].innerHTML.indexOf(searchValue) != -1){
                            list[i-1].scrollIntoView();
                            break;
                        }
                    }
                }

            }
        }

    </script>


</body>

</html>