<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <title th:replace="commons::title"></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--<meta content="Premium Multipurpose Admin & Dashboard Template" name="description" /> -->
        <!--<meta content="Themesdesign" name="author" /> -->
        <link rel="shortcut icon" href="static/images/favicon.png">
        <!-- jquery.vectormap css -->
        <link href="static/js/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />
        <!-- dropzone css -->
        <link href="static/js/libs/dropzone/min/dropzone.min.css" rel="stylesheet" type="text/css" />
        <!-- Bootstrap Css -->
        <link href="static/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
        <!-- Icons css -->
        <link href="static/css/icons.min.css" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link href="static/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />

        <link href="static/css/scroll.css" id="scroll-style" rel="stylesheet" type="text/css" />
    </head>

    <body data-topbar="dark">
        <!-- Begin page -->
        <div id="layout-wrapper">

            <div th:replace="commons::topbar(${videomodel.username})"></div>
            <div th:replace="commons::leftSidebar(${videomodel.role})"></div>

            <!-- Start right Content here -->
            <div class="main-content">
                <div class="page-content">
                    <div class="container-fluid">
                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box d-flex align-items-center justify-content-between">
                                    <h4 class="mb-0">修改视频</h4>
                                </div>
                            </div>
                        </div>
                        <!-- end page title -->

                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <form id="form" action="/edit_video" method="post" th:object="${videomodel.video}" novalidate="" style="pediting-left: 20px;">
                                            <div class="form-group row">
                                                <label for="edit_name" class="col-md-2 col-form-label"><span style="color: #ff3d60;">*</span>视频名称：</label>
                                                <div class="col-md-10">
                                                    <input name="name" th:value="*{name}"  class="form-control" id="edit_name" type="text">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="edit_path" class="col-md-2 col-form-label"><span style="color: #ff3d60;">*</span>视频文件：</label>
                                                <div class="col-md-10">
<!--                                                    <input name="" id="edit_imagePath" value="" class="form-control btn" type="file" accept="image/png, image/jpeg, image/jpg" style="background-color: white; border: 1px solid #ced4da;">-->
                                                    <input type="file" class="form-control custom-file-input" id="edit_path" onchange="checkVideo()" accept="">
                                                    <label id="for_path" th:text="*{path}" class="form-control custom-file-label" for="edit_path" style="width: 97%;margin-left: 10px;"></label>
                                                    <input name="path" id="path" th:value="*{path}" class="form-control btn" type="text" style="display: none">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="edit_courseId" class="col-md-2 col-form-label"><span style="color: #ff3d60;">*</span>课程ID：</label>
                                                <div class="col-md-10">
                                                    <input name="courseId" th:value="*{courseId}" id="edit_courseId" class="form-control" type="text" readonly style="border: none">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="edit_chapterId" class="col-md-2 col-form-label"><span style="color: #ff3d60;">*</span>章节ID：</label>
                                                <div class="col-md-10">
                                                    <input name="chapterId" th:value="*{chapterId}" id="edit_chapterId" class="form-control" type="text" readonly style="border: none">
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label for="edit_number" class="col-md-2 col-form-label"><span style="color: #ff3d60;">*</span>小节ID：</label>
                                                <div class="col-md-10">
                                                    <input name="number" th:value="*{number}" id="edit_number" class="form-control" type="text" readonly style="border: none">
                                                </div>
                                            </div>

                                            <div id="alert" class="alert alert-danger alert-dismissible fade show" role="alert" style="display:none;margin-top: 5px;pediting: 5px;pediting-left: 20px;">
                                                <i class="mdi mdi-block-helper mr-2">
                                                    <span id="result_msg" style="pediting-left: 10px;"></span>
                                                </i>
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="pediting: 5px;">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                            <div class="row" style="display: block;text-align: center;">
                                                <a href="admin_video" class="btn btn-light btn-rounded waves-effect waves-light">
                                                    <i class="ri-close-line align-middle mr-2"></i>取消
                                                </a>
                                                <button type="button" onclick="submitForm()" class="btn btn-success btn-rounded waves-effect waves-light" style="margin: 20px;">
                                                    <i class="ri-check-line align-middle mr-2"></i>提交
                                                </button>
                                            </div>
                                            <p style="margin-left: 10px;">注：带<span style="color: #ff3d60;">*</span>号为必填项</p>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>


                <div th:replace="commons::footer"></div>
            </div>
            <!-- end main content-->


        </div>
    
    
    
        <!-- JAVASCRIPT -->
        <!-- jquery -->
        <script src="static/js/libs/jquery/jquery.min.js"></script>
        <!-- bootstrap/js -->
        <script src="static/js/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- metismenu -->
        <script src="static/js/libs/metismenu/metisMenu.min.js"></script>
        <!-- simplebar -->
        <script src="static/js/libs/simplebar/simplebar.min.js"></script>
        <!-- node-waves -->
        <script src="static/js/libs/node-waves/waves.min.js"></script>
        <!-- admin-resources/jquery.vectormap -->
        <script src="static/js/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.min.js"></script>
        <script src="static/js/libs/admin-resources/jquery.vectormap/maps/jquery-jvectormap-us-merc-en.js"></script>
        <!-- bs-custom-file-input -->
        <script src="static/js/libs/bs-custom-file-input/bs-custom-file-input.min.js"></script>
        <!-- dropzone -->
        <script src="static/js/libs/dropzone/min/dropzone.min.js"></script>
        <!-- js/pages/ -->
        <script src="static/js/pages/form-element.init.js"></script>
        <script src="static/js/app.js"></script>
        
        <script type="text/javascript" th:inline="javascript">

            var oVideoName = document.getElementById("edit_name");

            var changeVideo = false;
            function checkVideo(){
                console.log("更换视频");
                //检查是否更换图片
                if(!changeVideo){
                    changeVideo = true;
                }
                if (document.getElementById('edit_pth').files.length !== 0){
                    var name = document.getElementById('edit_path').files[0].name;
                    document.getElementById("for_path").innerText = name;
                }

            }

            function uploadVideo() {
                var formData = new FormData();
                if (document.getElementById('edit_path').files.length == 0){
                    document.getElementById("alert").style.display="";
                    document.getElementById("result_msg").innerHTML = "请上传视频！";
                    return false;
                }
                formData.append('file', document.getElementById('edit_path').files[0]);
                $.ajax({
                    async: false,
                    type: 'POST',
                    url: "/upload_video",
                    dataType: 'json',
                    data: formData,
                    contentType:false,
                    processData:false,
                    success: function (data) {
                        if(data.hasOwnProperty("relativePath")){
                            console.log("上传视频成功！");
                            document.getElementById("path").value = data.relativePath;
                            return true;
                        }
                        else {
                            document.getElementById("alert").style.display="";
                            document.getElementById("result_msg").innerHTML = data.result_msg;
                            console.log(data.result_msg);
                            return false;
                        }
                    },
                    error: function (e) {
                        document.getElementById("alert").style.display="";
                        document.getElementById("result_msg").innerHTML = "上传视频失败！";
                        console.log(data.result_msg);
                        return false;
                    }
                })
            }

            function checkForm(){
                if (!oVideoName.value){
                        document.getElementById("alert").style.display="";
                        document.getElementById("result_msg").innerHTML = "请填写视频名称！";
                        return false;
                }
                if (changeVideo){
                    if (uploadVideo() === false){
                        return false;
                    }
                }
                console.log("check form finish");
                return true;
            }

            function submitForm(){
                console.log("check form start");
                if (checkForm()){
                    //console.log("submit form");
                    oForm = document.getElementById("form");
                    oForm.submit();
                }
            }

            $(function() {


            })



        </script>
    
    
    </body>

</html>