<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title>人工智能实验实训平台-后台管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<meta content="Premium Multipurpose Admin & Dashboard Template" name="description" /> -->
    <!--<meta content="Themesdesign" name="author" /> -->
    <link rel="shortcut icon" href="static/images/favicon.png">
    <!-- jquery.vectormap css -->
    <link href="static/js/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />
    <!-- DataTables -->
    <link href="static/js/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <!-- Responsive datatable examples -->
    <link href="static/js/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <!-- Button datatable examples -->
    <link href="static/js/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <!-- Bootstrap Css -->
    <link href="static/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons css -->
    <link href="static/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="static/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />
</head>

<body data-sidebar="light">
    <!-- Begin page -->
    <div id="layout-wrapper">

        <div th:replace="commons::topbar(${coursestudentmodel.username})"></div>
        <div th:replace="commons::leftSidebar"></div>
        
        <!-- Start right Content here -->
        <div class="main-content">
            <div class="page-content">
                <div class="container-fluid">
                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-flex align-items-center justify-content-between">
                                <h4 class="mb-0">增加学生开课计划</h4>
                            </div>
                        </div>
                    </div>
                    <!-- end page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <form class="needs-validation" action="/add_course_student" method="post" th:object="${coursestudentmodel.course_student}" novalidate="" style="padding-left: 20px;">
                                        <div class="form-group row">
                                            <label for="add_id" class="col-md-2 col-form-label">编号：</label>
                                            <div class="col-md-10">
                                                <input name="id" th:value="*{id}" id="add_id" class="form-control" type="text">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="add_courseName" class="col-md-2 col-form-label">开课计划名称：</label>
                                            <div class="col-md-10">
                                                <input name="courseName" th:value="*{courseName}" id="add_courseName" class="form-control" type="text">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="add_teacher" class="col-md-2 col-form-label">授课老师：</label>
                                            <div class="col-md-10">
                                                <input name="teacher" th:value="*{teacher}" id="add_teacher" class="form-control" type="text">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="add_stuName" class="col-md-2 col-form-label">学生姓名：</label>
                                            <div class="col-md-10">
                                                <input name="stuName" th:value="*{stuName}" id="add_stuName" class="form-control" type="text">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="add_stuMajor" class="col-md-2 col-form-label">学生专业：</label>
                                            <div class="col-md-10">
                                                <input name="stuMajor" th:value="*{stuMajor}" id="add_stuMajor" class="form-control" type="text">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="add_stuClass" class="col-md-2 col-form-label">学生班级：</label>
                                            <div class="col-md-10">
                                                <input name="stuClass" th:value="*{stuClass}" id="add_stuClass" class="form-control" type="text">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="add_applyTime" class="col-md-2 col-form-label">申请时间：</label>
                                            <div class="col-md-10">
                                                <input name="applyTime" value="" id="add_applyTime" class="form-control" type="text" readonly style="border: none;">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="add_auditor" class="col-md-2 col-form-label">审核人员：</label>
                                            <div class="col-md-10">
                                                <input name="auditor" th:value="${coursestudentmodel.username}" id="add_auditor" class="form-control" type="text" readonly style="border: none;">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="add_auditTime" class="col-md-2 col-form-label">审核时间：</label>
                                            <div class="col-md-10">
                                                <input name="auditTime" value="" id="add_auditTime" class="form-control" type="text" readonly style="border: none;">
                                            </div>
                                        </div>
                                        <div class="row" style="display: block;text-align: center;">
                                            <a href="admin_course_student" class="btn btn-light btn-rounded waves-effect waves-light">
                                                <i class="ri-close-line align-middle mr-2"></i>取消
                                            </a>
                                            <button type="submit" class="btn btn-success btn-rounded waves-effect waves-light" style="margin: 20px;">
                                                <i class="ri-check-line align-middle mr-2"></i>提交
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                    
            </div>
            <!-- container-fluid -->

            <div th:replace="commons::footer"></div>
        </div>
        <!-- end main content-->
    
    <!-- END layout-wrapper -->
    </div>
   
 

    <!-- JAVASCRIPT -->
    <!-- jquery -->
    <script src="static/js/libs/jquery/jquery.min.js"></script>
    <!-- bootstrap/js -->
    <script src="static/js/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- metismenu -->
    <script src="static/js/libs/metismenu/metisMenu.min.js"></script>
    <!-- simplebar -->
    <script src="static/js/libs/simplebar/simplebar.min.js"></script>
    <!-- node-waves -->
    <script src="static/js/libs/node-waves/waves.min.js"></script>
    <!-- apexcharts -->
    <script src="static/js/libs/apexcharts/apexcharts.min.js"></script>
    <!-- admin-resources/jquery.vectormap -->
    <script src="static/js/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="static/js/libs/admin-resources/jquery.vectormap/maps/jquery-jvectormap-us-merc-en.js"></script>
    <!-- datatables -->
    <script src="static/js/libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="static/js/libs/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="static/js/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="static/js/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="static/js/libs/datatables.net-buttons/js/buttons.colVis.min.js"></script>
    <script src="static/js/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="static/js/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="static/js/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
    <script src="static/js/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="static/js/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
    <script src="static/js/libs/datatables.net-select/js/dataTables.select.min.js"></script>   
    <!-- jszip -->
    <script src="static/js/libs/jszip/jszip.min.js"></script>
    <!-- pdfmake/build -->
    <script src="static/js/libs/pdfmake/build/pdfmake.min.js"></script>
    <script src="static/js/libs/pdfmake/build/vfs_fonts.js"></script>
    <!-- js/pages/ -->
    <script src="static/js/pages/datatables.init.js"></script>
    <script src="static/js/pages/dashboard.init.js"></script>
    <script src="static/js/app.js"></script>

    <script type="text/javascript" th:inline="javascript">
        window.onload = function() {
          var applyTime = document.getElementById("add_applyTime");
          var auditTime = document.getElementById("add_auditTime");
          setInterval(function() {
            var time = new Date();  // 程序计时的月从0开始取值后+1
            var m = time.getMonth() + 1;
            var t = time.getFullYear() + "-" + m + "-"
                    + time.getDate() + " " + time.getHours() + ":"
                    + time.getMinutes() + ":" + time.getSeconds();
            applyTime.value = t;
            auditTime.value = t;
          }, 1000);
        };
    </script>


</body>

</html>