<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title>人工智能实验实训平台-后台管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<meta content="Premium Multipurpose Admin & Dashboard Template" name="description" /> -->
    <!--<meta content="Themesdesign" name="author" /> -->
    <link rel="shortcut icon" href="static/images/favicon.png">
    <!-- jquery.vectormap css -->
    <link href="static/js/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />
    <!-- Bootstrap Css -->
    <link href="static/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons css -->
    <link href="static/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="static/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />

    <link href="static/css/scroll.css" id="scroll-style" rel="stylesheet" type="text/css" />
</head>

<body data-topbar="dark">
    <!-- Begin page -->
    <div id="layout-wrapper">

        <div th:replace="commons::topbar(${classmodel.username})"></div>
        <div th:replace="commons::leftSidebar(${classmodel.role})"></div>
        
        <!-- Start right Content here -->
        <div class="main-content">
            <div class="page-content">
                <div class="container-fluid">
                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-flex align-items-center justify-content-between">
                                <h4 class="mb-0">修改班级</h4>
                            </div>
                        </div>
                    </div>
                    <!-- end page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <form id="form" class="needs-validation" action="/edit_class" method="post" th:object="${classmodel.class}" novalidate="" style="pediting-left: 20px;">
                                        <div class="form-group row">
                                            <label for="edit_class_id" class="col-md-2 col-form-label"><span style="color: #ff3d60;">&#8194;</span>班级ID：</label>
                                            <div class="col-md-10">
                                                <input name="id" th:value="*{id}" class="form-control" type="text" id="edit_class_id" readonly style="border:none;">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="edit_className" class="col-md-2 col-form-label"><span style="color: #ff3d60;">*</span>班级名称：</label>
                                            <div class="col-md-10">
                                                <input name="className" th:value="*{className}" class="form-control" type="text"  id="edit_className">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="edit_major" class="col-md-2 col-form-label"><span style="color: #ff3d60;">*</span>所属专业：</label>
                                            <div class="col-md-10">
                                                <select name="majorId" th:value="*{majorId}" class="form-control" id="edit_major">
                                                    <option th:value="*{majorId}" style="display: none;" th:text="*{majorName}"></option>      
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="edit_creator" class="col-md-2 col-form-label"><span style="color: #ff3d60;">&#8194;</span>创建人员：</label>
                                            <div class="col-md-10">
                                                <input name="creator" th:value="${classmodel.username}" id="edit_creator" class="form-control" type="text" style="border:none;" readonly>
                                            </div>
                                        </div>
                                        <div id="alert" class="alert alert-danger alert-dismissible fade show" role="alert" style="display:none;margin-top: 5px;pediting: 5px;pediting-left: 20px;">
                                            <i class="mdi mdi-block-helper mr-2">
                                                <span id="result_msg" style="pediting-left: 10px;"></span>
                                            </i>
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="pediting: 5px;">
                                                <span aria-hidden="true">×</span>
                                            </button>
                                        </div>
                                        <div class="row" style="display: block;text-align: center;">
                                            <a href="admin_class" class="btn btn-light btn-rounded waves-effect waves-light">
                                                <i class="ri-close-line align-middle mr-2"></i>取消
                                            </a>
                                            <button type="button" onclick="submitForm()" class="btn btn-success btn-rounded waves-effect waves-light" style="margin: 20px;">
                                                <i class="ri-check-line align-middle mr-2"></i>提交
                                            </button>
                                        </div>
                                        <p style="margin-left: 10px;">注：带<span style="color: #ff3d60;">*</span>号为必填项</p>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                    
            </div>
            <!-- container-fluid -->

            <div th:replace="commons::footer"></div>
        </div>
        <!-- end main content-->
    
    <!-- END layout-wrapper -->
    </div>
   
 

    <!-- JAVASCRIPT -->
    <!-- jquery -->
    <script src="static/js/libs/jquery/jquery.min.js"></script>
    <!-- bootstrap/js -->
    <script src="static/js/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- metismenu -->
    <script src="static/js/libs/metismenu/metisMenu.min.js"></script>
    <!-- simplebar -->
    <script src="static/js/libs/simplebar/simplebar.min.js"></script>
    <!-- node-waves -->
    <script src="static/js/libs/node-waves/waves.min.js"></script>
    <!-- apexcharts -->
    <script src="static/js/libs/apexcharts/apexcharts.min.js"></script>
    <!-- admin-resources/jquery.vectormap -->
    <script src="static/js/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="static/js/libs/admin-resources/jquery.vectormap/maps/jquery-jvectormap-us-merc-en.js"></script>
    <!-- js/pages/ -->
    <script src="static/js/app.js"></script>

    <script type="text/javascript" th:inline="javascript">
        function checkMajor(){
            var oMajor = document.getElementById("edit_major");
            var oClass = document.getElementById("edit_className");
            if (!oClass.value){
                document.getElementById("alert").style.display="";
                document.getElementById("result_msg").innerHTML = "请填写班级名称！";
                return false;
            }
            return true;
        }

        function submitForm(){
            if (checkMajor()){
                oForm = document.getElementById("form");
                oForm.submit();
            }
        }

        $(function () {
            //发送请求获取所有的专业
            $.ajax({
                type:"GET",
                url:"get_all_major",
                success:function (data) {
                    //console.log(data);
                    for(var i = 0;i < data.majors.length;i++){
                        var option = $("<option></option>").text(data.majors[i].majorName);
                        option.attr("value", data.majors[i].id);
                        //将option添加到select标签中
                        $("#edit_major").append(option);
                    }
                },
                error:function(){
                    document.getElementById("alert").style.display="";
                    document.getElementById("result_msg").innerHTML = "获取专业列表失败";
                }
            })
        })


    </script>


</body>

</html>