<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title>人工智能实验实训平台-后台管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="static/images/favicon.png" />
    <!-- jquery.vectormap css -->
<!--    <link href="static/js/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />-->
    <!-- DataTables -->
<!--    <link href="static/js/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />-->
    <!-- Responsive datatable examples -->
<!--    <link href="static/js/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />-->
    <!-- Button datatable examples -->
<!--    <link href="static/js/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />-->
    <!-- Bootstrap Css -->
    <link href="static/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons css -->
    <link href="static/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="static/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />
</head>

<body data-sidebar="light">
    <!-- Begin page -->
    <div id="layout-wrapper">

        <div th:replace="commons::topbar(${username})"></div>
        <div th:replace="commons::leftSidebar"></div>

        <!-- Start right Content here -->
        <div class="main-content">
            <div class="page-content">
                <div class="container-fluid">
                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-flex align-items-center justify-content-between" id="page">
                                <h4 class="mb-0">首页</h4>
                            </div>
                        </div>
                    </div>
                    <!-- end page title -->

                    <div class="row">
                        <div class="col-xl-12">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="media">
                                                <div class="media-body overflow-hidden">
                                                    <p class="text-truncate font-size-14 mb-2"></p>
                                                    <h4 class="mb-0">在线机器</h4>
                                                </div>
                                                <div class="text-primary"><i class="ri-stack-line font-size-24"></i></div>
                                            </div>
                                        </div>
                                        <div class="card-body border-top py-3">
                                            <div class="text-truncate">
                                                <!--
                                                <span class="badge badge-soft-success font-size-11">
                                                    <i class="mdi mdi-menu-up"></i>2.4%
                                                </span>
                                                -->
                                                <span class="text-muted ml-2">40</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="media">
                                                <div class="media-body overflow-hidden">
                                                    <p class="text-truncate font-size-14 mb-2"></p>
                                                    <h4 class="mb-0">实战项目</h4>
                                                </div>
                                                <div class="text-primary"><i class="ri-stack-line font-size-24"></i></div>
                                            </div>
                                        </div>
                                        <div class="card-body border-top py-3">
                                            <div class="text-truncate">
                                                <!--
                                                <span class="badge badge-soft-success font-size-11">
                                                    <i class="mdi mdi-menu-up"></i>2.4%
                                                </span>
                                                -->
                                                <span class="text-muted ml-2" th:text="${sizeof_projects}"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="media">
                                                <div class="media-body overflow-hidden">
                                                    <p class="text-truncate font-size-14 mb-2"></p>
                                                    <h4 class="mb-0">实验任务</h4>
                                                </div>
                                                <div class="text-primary"><i class="ri-stack-line font-size-24"></i></div>
                                            </div>
                                        </div>
                                        <div class="card-body border-top py-3">
                                            <div class="text-truncate">
                                                <!--
                                                <span class="badge badge-soft-success font-size-11">
                                                    <i class="mdi mdi-menu-up"></i>2.4%
                                                </span>
                                                -->
                                                <span class="text-muted ml-2" th:text="${sizeof_experiments}"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="media">
                                                <div class="media-body overflow-hidden">
                                                    <p class="text-truncate font-size-14 mb-2"></p>
                                                    <h4 class="mb-0">视频课程</h4>
                                                </div>
                                                <div class="text-primary"><i class="ri-stack-line font-size-24"></i></div>
                                            </div>
                                        </div>
                                        <div class="card-body border-top py-3">
                                            <div class="text-truncate">
                                                <!--
                                                <span class="badge badge-soft-success font-size-11">
                                                    <i class="mdi mdi-menu-up"></i>2.4%
                                                </span>
                                                -->
                                                <span class="text-muted ml-2">50</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="media">
                                                <div class="media-body overflow-hidden">
                                                    <p class="text-truncate font-size-14 mb-2"></p>
                                                    <h4 class="mb-0">实验镜像</h4>
                                                </div>
                                                <div class="text-primary"><i class="ri-stack-line font-size-24"></i></div>
                                            </div>
                                        </div>
                                        <div class="card-body border-top py-3">
                                            <div class="text-truncate">
                                                <!--
                                                <span class="badge badge-soft-success font-size-11">
                                                    <i class="mdi mdi-menu-up"></i>2.4%
                                                </span>
                                                -->
                                                <span class="text-muted ml-2">80</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="media">
                                                <div class="media-body overflow-hidden">
                                                    <p class="text-truncate font-size-14 mb-2"></p>
                                                    <h4 class="mb-0">数据集</h4>
                                                </div>
                                                <div class="text-primary"><i class="ri-stack-line font-size-24"></i></div>
                                            </div>
                                        </div>
                                        <div class="card-body border-top py-3">
                                            <div class="text-truncate">
                                                <!--
                                                <span class="badge badge-soft-success font-size-11">
                                                    <i class="mdi mdi-menu-up"></i>2.4%
                                                </span>
                                                -->
                                                <span class="text-muted ml-2" th:text="${sizeof_datasets}"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <!-- container-fluid -->
            </div>

            <!-- End Page-content -->

            <div th:replace="commons::footer"></div>

        </div>
        <!-- end main content-->
    </div>
    <!-- END layout-wrapper -->


    <!-- JAVASCRIPT -->
    <!-- jquery -->
    <script src="static/js/libs/jquery/jquery.min.js"></script>
    <!-- bootstrap/js -->
    <script src="static/js/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- metismenu -->
    <script src="static/js/libs/metismenu/metisMenu.min.js"></script>
    <!-- simplebar -->
    <script src="static/js/libs/simplebar/simplebar.min.js"></script>
    <!-- node-waves -->
    <script src="static/js/libs/node-waves/waves.min.js"></script>
<!--    &lt;!&ndash; apexcharts &ndash;&gt;-->
<!--    <script src="static/js/libs/apexcharts/apexcharts.min.js"></script>-->
    <!-- app.js -->
    <script src="static/js/app.js"></script>

</body>

</html>