<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="utf-8" />
        <title>人工智能实验实训平台-后台管理</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--<meta content="Premium Multipurpose Admin & Dashboard Template" name="description" /> -->
        <!--<meta content="Themesdesign" name="author" /> -->
        <link rel="shortcut icon" href="static/images/favicon.png">
        <!-- jquery.vectormap css -->
        <link href="static/js/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />
        <!-- DataTables -->
        <link href="static/js/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
        <!-- Responsive datatable examples -->
        <link href="static/js/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
        <!-- Button datatable examples -->
        <link href="static/js/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
        <!-- Bootstrap Css -->
        <link href="static/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
        <!-- Icons css -->
        <link href="static/css/icons.min.css" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link href="static/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />
    </head>

    <body data-sidebar="light">
            <!-- Begin page -->
            <div id="layout-wrapper">

                <div th:replace="commons::topbar(${stumodel.username})"></div>
                <div th:replace="commons::leftSidebar(${stumodel.role})"></div>

                <!-- Start right Content here -->
                <div class="main-content">
                    <div class="page-content">
                        <div class="container-fluid">
                            <!-- start page title -->
                            <div class="row">
                                <div class="col-12">
                                    <div class="page-title-box d-flex align-items-center justify-content-between">
                                        <h4 class="mb-0">修改学生</h4>
                                    </div>
                                </div>
                            </div>
                            <!-- end page title -->
                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <form class="needs-validation" action="/edit_student" method="post" th:object="${stumodel.student}" novalidate="" style="padding-left: 20px;">
                                                <div class="form-group row">
                                                    <label for="edit_stuNumber" class="col-md-2 col-form-label">学号：</label>
                                                    <div class="col-md-10">
                                                        <input name="majorCode" th:value="*{stuNumber}" class="form-control" type="text"  id="edit_stuNumber">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="edit_stuName" class="col-md-2 col-form-label">姓名：</label>
                                                    <div class="col-md-10">
                                                        <input name="name" th:value="*{name}" class="form-control" type="text" id="edit_stuName">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="edit_major" class="col-md-2 col-form-label">所属专业：</label>
                                                    <div class="col-md-10">
                                                        <select name="major" th:value="*{major}" class="form-control" id="edit_major" onchange="getClass()">
                                                            <option value="0" style="display: none;" th:text="*{major}"></option>
<!--                                                            <option th:each="majors:${stumodel.majors}" th:text="${majors.majorName}" th:value="${majors.majorName}"></option>-->
                                                        </select>
<!--                                                        <input name="major" th:value="*{major}" id="edit_major" class="form-control" type="text" >-->
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="edit_className" class="col-md-2 col-form-label">所属班级：</label>
                                                    <div class="col-md-10">
                                                        <select id="edit_className" name="className" th:value="*{className}" class="form-control">
                                                            <option value="0" style="display: none;" th:text="*{className}"></option>
                                                        </select>
<!--                                                        <input name="className" th:value="*{className}" id="edit_className" class="form-control" type="text">-->
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="edit_phoneNumber" class="col-md-2 col-form-label">联系手机：</label>
                                                    <div class="col-md-10">
                                                        <input name="phoneNumber" th:value="*{phoneNumber}" id="edit_phoneNumber" class="form-control" type="text">
                                                    </div>
                                                </div>
                                                <div class="row" style="display: block;text-align: center;">
                                                    <a href="admin_student" class="btn btn-light btn-rounded waves-effect waves-light">
                                                        <i class="ri-close-line align-middle mr-2"></i>取消
                                                    </a>
                                                    <button type="submit" class="btn btn-success btn-rounded waves-effect waves-light" style="margin: 20px;">
                                                        <i class="ri-check-line align-middle mr-2"></i>提交
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <!-- container-fluid -->

                    <div th:replace="commons::footer"></div>
                </div>
                <!-- end main content-->

            <!-- END layout-wrapper -->
            </div>



            <!-- JAVASCRIPT -->
            <!-- jquery -->
            <script src="static/js/libs/jquery/jquery.min.js"></script>
            <!-- bootstrap/js -->
            <script src="static/js/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
            <!-- metismenu -->
            <script src="static/js/libs/metismenu/metisMenu.min.js"></script>
            <!-- simplebar -->
            <script src="static/js/libs/simplebar/simplebar.min.js"></script>
            <!-- node-waves -->
            <script src="static/js/libs/node-waves/waves.min.js"></script>
            <!-- apexcharts -->
            <script src="static/js/libs/apexcharts/apexcharts.min.js"></script>
            <!-- admin-resources/jquery.vectormap -->
            <script src="static/js/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.min.js"></script>
            <script src="static/js/libs/admin-resources/jquery.vectormap/maps/jquery-jvectormap-us-merc-en.js"></script>
            <!-- datatables -->
            <script src="static/js/libs/datatables.net/js/jquery.dataTables.min.js"></script>
            <script src="static/js/libs/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
            <script src="static/js/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
            <script src="static/js/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
            <script src="static/js/libs/datatables.net-buttons/js/buttons.colVis.min.js"></script>
            <script src="static/js/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
            <script src="static/js/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
            <script src="static/js/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
            <script src="static/js/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
            <script src="static/js/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
            <script src="static/js/libs/datatables.net-select/js/dataTables.select.min.js"></script>
            <!-- jszip -->
            <script src="static/js/libs/jszip/jszip.min.js"></script>
            <!-- pdfmake/build -->
            <script src="static/js/libs/pdfmake/build/pdfmake.min.js"></script>
            <script src="static/js/libs/pdfmake/build/vfs_fonts.js"></script>
            <!-- js/pages/ -->
            <script src="static/js/pages/datatables.init.js"></script>
            <script src="static/js/pages/dashboard.init.js"></script>
            <script src="static/js/app.js"></script>

            <script type="text/javascript" th:inline="javascript">
                $(function () {
                    //发送请求获取所有的专业
                    $.ajax({
                        type:"GET",
                        url:"get_all_major",
                        success:function (data) {
                            console.log(data);
                            for(var i = 0;i < data.majors.length;i++){
                                var option = $("<option></option>").text(data.majors[i]);
                                option.attr("value", data.majors[i]);
                                //将option添加到select标签中
                                $("#edit_major").append(option);
                            }
                        }
                    })
                })

                function getClass(){
                    var major = $("#add_major").val();
                    console.log("专业: "+major);
                    $.ajax({
                        type:"GET",
                        url:"get_class_by_major",
                        data: {"major": major},
                        success:function (data) {
                            console.log(data);
                            for(var i = 0;i < data.classes.length;i++){
                                var option = $("<option></option>").text(data.classes[i].className);
                                option.attr("value", data.classes[i].id);
                                $("#edit_class").append(option);
                            }
                        }
                    })
                }

            </script>


    </body>

</html>