<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title th:replace="commons::title"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="static/images/favicon.png" />
    <!-- Bootstrap Css -->
    <link href="static/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons css -->
    <link href="static/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="static/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />

    <link href="static/css/scroll.css" id="scroll-style" rel="stylesheet" type="text/css" />
    <!-- Twitter-bootstrap-wizard css -->
    <link href="static/js/libs/twitter-bootstrap-wizard/prettify.css" rel="stylesheet" type="text/css" />

</head>
<body data-topbar="dark">
    <!-- Begin page -->
    <div id="layout-wrapper">

        <div th:replace="commons::topbar(${username})"></div>
        <div th:replace="commons::leftSidebar(${role})"></div>

        <!-- ========== Main Content Start ========== -->
        <div class="main-content">
            <div class="page-content">
                <div class="container-fluid">
                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-flex align-items-center justify-content-between">
                                <h4 class="mb-0">修改个人资料</h4>
                            </div>
                        </div>
                    </div>
                    <!-- end page title -->

                    <div class="row">
                        <div class="col-xl-8">
                            <div class="card">
                                <div class="card-body">
                                    <form id="form" method="post" action="/edit_userinfo" class="needs-validation" novalidate="" th:object="${userinfo}" >
                                        <div class="form-group row">
                                            <label for="teaNumber" class="col-md-2 col-form-label"><span style="color: #ff3d60;">*</span>账号：</label>
                                            <div class="col-md-10">
                                                <input name="teaNumber" class="form-control" type="text" th:value="*{teaNumber}" id="teaNumber" readonly style="border: none;">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="name" class="col-md-2 col-form-label"><span style="color: #ff3d60;">*</span>姓名：</label>
                                            <div class="col-md-10">
                                                <input name="teaName" class="form-control" type="text" th:value="*{teaName}" id="name" readonly style="border: none;">
                                            </div>
                                        </div>
                                        <div class="form-group row" style="display: none;">
                                            <label for="password" class="col-md-2 col-form-label">密码：</label>
                                            <div class="col-md-10">
                                                <input name="password" class="form-control" type="password" th:value="*{password}" id="password">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="phone" class="col-md-2 col-form-label"><span style="color: #ff3d60;">*</span>手机号码：</label>
                                            <div class="col-md-10">
                                                <input name="phone" class="form-control" th:value="*{phone}" type="tel" id="phone">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="school" class="col-md-2 col-form-label"><span style="color: #ff3d60;">*</span>学校：</label>
                                            <div class="col-md-10">
                                                <input name="school" class="form-control" type="text" th:value="*{school}" id="school">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="major" class="col-md-2 col-form-label"><span style="color: #ff3d60;">*</span>教授专业：</label>
                                            <div class="col-md-10">
                                                <select name="majorId" th:value="*{majorId}" class="form-control" id="major">
                                                    <option th:value="*{majorId}" style="display: none;" th:text="*{majorName}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div id="alert" class="alert alert-danger alert-dismissible fade show" role="alert" style="display:none;margin-top: 5px;padding: 5px;padding-left: 20px;">
                                            <i class="mdi mdi-block-helper mr-2">
                                                <span id="result_msg" style="padding-left: 10px;"></span>
                                            </i>
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="padding: 5px;">
                                                <span aria-hidden="true">×</span>
                                            </button>
                                        </div>
                                        <div class="row" style="display: block;text-align: center;">
                                            <a href="admin_student" class="btn btn-light btn-rounded waves-effect waves-light">
                                                <i class="ri-close-line align-middle mr-2"></i>取消
                                            </a>
                                            <button type="button" onclick="submitForm()" class="btn btn-success btn-rounded waves-effect waves-light" style="margin: 20px;">
                                                <i class="ri-check-line align-middle mr-2"></i>提交
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4">
<!--                            <div class="card">-->
<!--                                <div class="card-body">-->
<!--&lt;!&ndash;                                    <label class="col-md-3 col-form-label">头像：</label>&ndash;&gt;-->
<!--                                    <label >头像</label>-->
<!--                                    <div class="col-md-12">-->
<!--                                        -->
<!--                                        <img class="rounded-circle avatar-xl" src="static/images/avatar-1.jpg" alt="头像" data-holder-rendered="true" style="display:block;margin:0 auto">-->
<!--                                    </div>-->
<!--                                    <a href="#" class="btn btn-outline-primary waves-effect waves-light" style="display:block;margin:0 auto;max-width: 150px;">更换头像</a>-->
<!--                                </div>-->
<!--                            </div>-->
                            <div class="card">
                                <div class="card-body">
                                    <label >修改密码</label>
                                    <div class="col-md-12">
                                        <a href="reset_pwd" class="btn btn-outline-primary waves-effect waves-light" style="display:block;margin:0 auto;max-width: 150px;">重置密码</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div th:replace="commons::footer"></div>
            </div>
        </div>

        <!-- Main Content End -->
    </div>


    <!-- JAVASCRIPT -->
    <!-- jquery -->
    <script src="static/js/libs/jquery/jquery.min.js"></script>
    <!-- bootstrap/js -->
    <script src="static/js/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- metismenu -->
    <script src="static/js/libs/metismenu/metisMenu.min.js"></script>
    <!-- simplebar -->
    <script src="static/js/libs/simplebar/simplebar.min.js"></script>
    <!-- node-waves -->
    <script src="static/js/libs/node-waves/waves.min.js"></script>
    <!-- twitter-bootstrap-wizard -->
    <script src="static/js/libs/twitter-bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>
    <script src="static/js/libs/twitter-bootstrap-wizard/prettify.js"></script>
    <!-- js/pages/ -->
    <script src="static/js/pages/form-wizard.init.js"></script>
    <!-- app.js -->
    <script src="static/js/app.js"></script>

    <script type="text/javascript" th:inline="javascript">
        $(function () {
            //发送请求获取所有的专业
            $.ajax({
                type:"GET",
                url:"get_all_major",
                success:function (data) {
                    //console.log(data);
                    for(var i = 0;i < data.majors.length;i++){
                        var option = $("<option></option>").text(data.majors[i].majorName);
                        option.attr("value", data.majors[i].id);
                        //将option添加到select标签中
                        $("#major").append(option);
                    }
                }
            })

            if ([[${role}]] === "teacher"){
                $("#school").attr("readonly",true);
            }
        })


        function checkForm(){
            var oMajor = document.getElementById("major");
            var oName = document.getElementById("name");
            var oPhone = document.getElementById("phone");
            var oSchool = document.getElementById("school");
            if(!oName.value){
                document.getElementById("alert").style.display="";
                document.getElementById("result_msg").innerHTML = "请填写姓名！";
                return false;
            }
            if(!oPhone.value){
                document.getElementById("alert").style.display="";
                document.getElementById("result_msg").innerHTML = "请填写手机号码！";
                return false;
            }
            if(!oSchool.value){
                document.getElementById("alert").style.display="";
                document.getElementById("result_msg").innerHTML = "请填写学校！";
                return false;
            }
            if (oMajor.value === "0"){
                document.getElementById("alert").style.display="";
                document.getElementById("result_msg").innerHTML = "请选择专业！";
                return false;
            }
            return true;
        }


        function submitForm(){
            console.log("check form start");
            if (checkForm() == true){
                //console.log("submit form");
                oForm = document.getElementById("form");
                oForm.submit();
            }
        }



    </script>

</body>
</html>