<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title>人工智能实验实训平台-后台管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<meta content="Premium Multipurpose Admin & Dashboard Template" name="description" /> -->
    <!--<meta content="Themesdesign" name="author" /> -->

    <link rel="shortcut icon" href="static/images/favicon.ico" />
    <!-- jquery.vectormap css -->
    <link href="static/js/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />
    <!-- DataTables -->
    <link href="static/js/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <!-- Responsive datatable examples -->
    <link href="static/js/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <!-- Button datatable examples -->
    <link href="static/js/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <!-- Bootstrap Css -->
    <link href="static/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons css -->
    <link href="static/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="static/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />
</head>

<body data-sidebar="light">
    <!-- Begin page -->
    <div id="layout-wrapper">
        <header id="page-topbar">
            <div class="navbar-header">
                <div class="d-flex">
                    <!-- LOGO -->
                    <div class="navbar-brand-box">
                    	<a href="index" class="logo logo-dark">
                            <span class="logo-sm">
                                <img src="static/images/logo-sm-dark.png" alt="" height="22">
                            </span>
                            <span class="logo-lg">
                                <img src="static/images/logo-dark.png" alt="" height="20">
                            </span>
                        </a>
                    </div>
                    <button type="button" class="btn btn-sm px-3 font-size-24 header-item waves-effect" id="vertical-menu-btn">
                        <i class="ri-menu-2-line align-middle"></i>
                    </button>         
                </div>


                <div class="d-flex">
                    
                    <div class="dropdown d-none d-lg-inline-block ml-1">
                        <button type="button" class="btn header-item noti-icon waves-effect" data-toggle="fullscreen">
                            <i class="ri-fullscreen-line"></i>
                        </button>
                    </div>

                    <!-- 个人信息展示 退出登录操作 -->
                    <div class="dropdown d-inline-block user-dropdown" id="user-info">
                        <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="rounded-circle header-profile-user" src="static/images/users/avatar-2.jpg" alt="Header Avatar">
                            <span class="d-none d-xl-inline-block ml-1" th:text="${username}"></span>
                            <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- item-->
                            <a class="dropdown-item" href="#"><i class="ri-user-line align-middle mr-1"></i>江南大学</a>
                            <a class="dropdown-item" href="#"><i class="ri-wallet-2-line align-middle mr-1"></i>xxxx</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="#"><i class="ri-shut-down-line align-middle mr-1 text-danger"></i>退出</a>
                        </div>
                    </div>
                    <!-- 个人信息展示 退出登录操作 -->            
                </div>
            </div>
        </header>

        <!-- ========== Left Sidebar Start ========== -->
        <div class="vertical-menu">
            <div data-simplebar class="h-100">
                <!--- Sidemenu -->
                <div id="sidebar-menu">
                    <!-- Left Menu Start -->
                    <ul class="metismenu list-unstyled" id="side-menu">
                        <li>
                        	<a href="admin_index" class="waves-effect  mm-active cc_pointer">
                        		<i class="ri-home-5-line"></i>
                        		<span>首页</span>
                        	</a>
                        </li>
                        <li>
                        	<a href="#" class="has-arrow waves-effect " aria-expanded="false">
                        		<i class="ri-shield-user-line"></i>
                        		<span>学生管理</span>
                        	</a>
                        	<ul class="sub-menu mm-collapse" aria-expanded="false">
                        		<li>
                        			<a href="admin_major">专业管理</a>
                        		</li>
                        		<li>
                        			<a href="admin_class">班级管理</a>
                        		</li>
                        		<li>
                        			<a href="admin_student">学生管理</a>
                        		</li>
                        	</ul>
                        </li>

                        <li>
                        	<a href="#" class="has-arrow waves-effect " aria-expanded="false">
                        		<i class="ri-file-text-line"></i>
                        		<span>开课管理</span>
                        	</a>
                        	<ul class="sub-menu mm-collapse" aria-expanded="false">
                        		<li>
                        			<a href="./admin_course_plan">开课计划管理</a>
                        		</li>
                        		<li>
                        			<a href="./admin_course_student">学生开课管理</a>
                        		</li>
                        		<li>
                        			<a href="./admin_course_announce">开课公告管理</a>
                        		</li>
                        	</ul>
                        </li>
                        
                        <li>
                        	<a href="#" class="has-arrow waves-effect " aria-expanded="false">
                        		<i class="ri-briefcase-2-line"></i>
                        		<span>实验管理</span>
                        	</a>
                        </li>

                        <li>
                        	<a href="#" class="has-arrow waves-effect " aria-expanded="false">
                        		<i class="ri-pie-chart-2-line"></i>
                        		<span>图表统计</span>
                        	</a>
                        </li>

                        <li>
                        	<a href="#" class="has-arrow waves-effect " aria-expanded="false">
                        		<i class="ri-apps-line"></i>
                        		<span>系统管理</span>
                        	</a>
                        </li>

                        <li>
                        	<a href="#" class="has-arrow waves-effect " aria-expanded="false">
                        		<i class="ri-mac-line"></i>
                        		<span>机器管理</span>
                        	</a>
                        </li>  
                    </ul>
                </div>
                <!-- Sidebar -->
            </div>
        </div>
        <!-- Left Sidebar End -->
        

        <!-- Start right Content here -->
        <div class="main-content">
            <div class="page-content">
                <div class="container-fluid">
                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-flex align-items-center justify-content-between" id="page">
                                <h4 class="mb-0">首页</h4>
                            </div>
                        </div>
                    </div>
                    <!-- end page title -->
                    
                </div><!-- container-fluid -->
            </div><!-- End Page-content -->
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                        </div>
                        <div class="col-sm-6">
                            <div class="text-sm-right d-none d-sm-block">
                                <script>document.write(new Date().getFullYear())</script>© 人工智能实验实训平台
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <!-- end main content-->
    </div>
    <!-- END layout-wrapper -->


    <!-- JAVASCRIPT -->
    <!-- jquery -->
    <script src="static/js/libs/jquery/jquery.min.js"></script>
    <!-- bootstrap/js -->
    <script src="static/js/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- metismenu -->
    <script src="static/js/libs/metismenu/metisMenu.min.js"></script>
    <!-- simplebar -->
    <script src="static/js/libs/simplebar/simplebar.min.js"></script>
    <!-- node-waves -->
    <script src="static/js/libs/node-waves/waves.min.js"></script>
    <!-- apexcharts -->
    <script src="static/js/libs/apexcharts/apexcharts.min.js"></script>
    <!-- app.js -->
    <script src="static/js/app.js"></script>

</body>

</html>