<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <title>人工智能实验实训平台-后台管理</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--<meta content="Premium Multipurpose Admin & Dashboard Template" name="description" /> -->
        <!--<meta content="Themesdesign" name="author" /> -->
        <link rel="shortcut icon" href="static/images/favicon.png">
        <!-- jquery.vectormap css -->
        <link href="static/js/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />
        <!-- dropzone css -->
        <link href="static/js/libs/dropzone/min/dropzone.min.css" rel="stylesheet" type="text/css" />
        <!-- Bootstrap Css -->
        <link href="static/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
        <!-- Icons css -->
        <link href="static/css/icons.min.css" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link href="static/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />
    </head>

    <body data-sidebar="light">
          <!-- Begin page -->
          <div id="layout-wrapper">

              <div th:replace="commons::topbar(${coursemodel.username})"></div>
              <div th:replace="commons::leftSidebar"></div>
        
            <!-- Start right Content here -->
            <div class="main-content">
              <div class="page-content">
                <div class="container-fluid">
                  <!-- start page title -->
                  <div class="row">
                    <div class="col-12">
                      <div class="page-title-box d-flex align-items-center justify-content-between">
                        <h4 class="mb-0">增加开课计划</h4>
                      </div>
                    </div>
                  </div>
                  <!-- end page title -->
                  <div class="row">
                    <div class="col-12">
                      <div class="card">
                        <div class="card-body">
                          <form id="form" action="/add_course" method="post" th:object="${coursemodel.course}" novalidate="" style="padding-left: 20px;">
<!--                            <div class="form-group row">-->
<!--                              <label for="add_id" class="col-md-2 col-form-label">课程编号：</label>-->
<!--                              <div class="col-md-10">-->
<!--                                <input name="id" th:value="*{id}" class="form-control" type="text"  id="add_id" readonly>-->
<!--                              </div>-->
<!--                            </div>-->
                            <div class="form-group row">
                              <label for="add_courseName" class="col-md-2 col-form-label">课程名称：</label>
                              <div class="col-md-10">
                                <input name="courseName" th:value="*{courseName}" class="form-control" type="text"  id="add_courseName">
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="add_teacher" class="col-md-2 col-form-label">授课老师：</label>
                              <div class="col-md-10">
                                <input name="teacher" th:value="*{teacher}" class="form-control" id="add_teacher" type="text">
                              </div>
                            </div>
<!--                            <div class="form-group row">-->
<!--                              <label for="add_classification" class="col-md-2 col-form-label">分类：</label>-->
<!--                              <div class="col-md-10">-->
<!--                                <input name="classification" th:value="*{classification}" id="add_classification" class="form-control" type="text">-->
<!--                              </div>-->
<!--                            </div>-->
                            <div class="form-group row">
                              <label for="add_description" class="col-md-2 col-form-label">课程简介：</label>
                              <div class="col-md-10">
                                <input name="description" th:value="*{description}" id="add_description" class="form-control" type="text">
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="add_imagePath" class="col-md-2 col-form-label">课程图标：</label>
                              <div class="col-md-10">
                                  <input name="" id="add_imagePath" value="" class="form-control btn btn-light" type="file" accept="image/png, image/jpeg, image/jpg" style="background-color: white; border: 1px solid #ced4da;">
                                  <input name="imagePath" id="imagePath" th:value="*{imagePath}" class="form-control btn btn-light" type="text" style="display: none">
                                  <div id="alert" class="alert alert-danger alert-dismissible fade show" role="alert" style="display:none;margin-top: 5px;padding: 5px;padding-left: 20px;">
                                      <i class="mdi mdi-block-helper mr-2">
                                          <span id="result_msg" style="padding-left: 10px;"></span>
                                      </i>
                                      <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="padding: 5px;">
                                          <span aria-hidden="true">×</span>
                                      </button>
                                  </div>
                              </div>

                            </div>
                            <div class="form-group row">
                              <label for="add_startTime" class="col-md-2 col-form-label">授课开始日期：</label>
                              <div class="col-md-10">
                                <input name="startTime" th:value="*{startTime}" id="add_startTime" class="form-control" type="date">
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="add_endTime" class="col-md-2 col-form-label">授课结束日期：</label>
                              <div class="col-md-10">
                                <input name="endTime"  th:value="*{endTime}" id="add_endTime" class="form-control" type="date">
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="add_applyTime" class="col-md-2 col-form-label">开通申请时间：</label>
                              <div class="col-md-10">
                                <input name="applyTime" th:value="*{applyTime}" id="add_applyTime" class="form-control" type="date">
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="add_numAllowed" class="col-md-2 col-form-label">允许参加人数：</label>
                              <div class="col-md-10">
                                <input name="numAllowed" th:value="*{numAllowed}" id="add_numAllowed" class="form-control" type="text">
                              </div>
                            </div>
                            <div class="form-group row">
                              <label class="col-md-2 col-form-label">状态：</label>
                              <div class="col-md-10">
                                <select class="form-control" name="status">
                                  <option value="有效">有效</option>
                                  <option value="无效">无效</option>
                                </select>
<!--                                <input name="status" th:value="*{status}" id="add_status" class="form-control" type="text">-->
                              </div>
                            </div>
                              <div class="row" style="display: block;text-align: center;">
                                  <a href="admin_course" class="btn btn-light btn-rounded waves-effect waves-light">
                                      <i class="ri-close-line align-middle mr-2"></i>取消
                                  </a>
                                  <button type="button" onclick="uploadImg()" class="btn btn-success btn-rounded waves-effect waves-light" style="margin: 20px;">
                                      <i class="ri-check-line align-middle mr-2"></i>提交
                                  </button>
                              </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
        
                </div>
        
              </div>
              <!-- container-fluid -->

                <div th:replace="commons::footer"></div>
            </div>
            <!-- end main content-->
        
            <!-- END layout-wrapper -->
          </div>
    
    
    
        <!-- JAVASCRIPT -->
        <!-- jquery -->
        <script src="static/js/libs/jquery/jquery.min.js"></script>
        <!-- bootstrap/js -->
        <script src="static/js/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- metismenu -->
        <script src="static/js/libs/metismenu/metisMenu.min.js"></script>
        <!-- simplebar -->
        <script src="static/js/libs/simplebar/simplebar.min.js"></script>
        <!-- node-waves -->
        <script src="static/js/libs/node-waves/waves.min.js"></script>
        <!-- admin-resources/jquery.vectormap -->
        <script src="static/js/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.min.js"></script>
        <script src="static/js/libs/admin-resources/jquery.vectormap/maps/jquery-jvectormap-us-merc-en.js"></script>
        <!-- bs-custom-file-input -->
        <script src="static/js/libs/bs-custom-file-input/bs-custom-file-input.min.js"></script>
        <!-- dropzone -->
        <script src="static/js/libs/dropzone/min/dropzone.min.js"></script>
        <!-- js/pages/ -->
        <script src="static/js/pages/form-element.init.js"></script>
        <script src="static/js/app.js"></script>
        
        <script type="text/javascript" th:inline="javascript">

            function uploadImg() {
                var formData = new FormData();
                formData.append('img', document.getElementById('add_imagePath').files[0]);
                $.ajax({
                    async: false,
                    type: 'POST',
                    url: "/upload_img",
                    dataType: 'json',
                    data: formData,
                    contentType:false,//ajax上传图片需要添加
                    processData:false,//ajax上传图片需要添加
                    success: function (data) {
                        if(data.hasOwnProperty("relativePath")){
                            // console.log("上传图像成功！");
                            // console.log(data.relativePath);
                            document.getElementById("imagePath").value = data.relativePath;
                            submitForm();
                        }
                        else {
                            document.getElementById("alert").style.display="";
                            document.getElementById("result_msg").innerHTML = data.result_msg;
                            console.log(data.result_msg);
                        }
                    },
                    error: function (e) {
                        alert("error");
                    }
                })
            }

            function submitForm(){
                oForm = document.getElementById("form");
                oForm.submit();
            }

        </script>
    
    
    </body>

</html>