<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title th:replace="commons_personal::title"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<meta content="Premium Multipurpose Admin & Dashboard Template" name="description" /> -->
    <!--<meta content="Themesdesign" name="author" /> -->
    <link rel="shortcut icon" th:href="@{../../static/images/favicon.png}">
    <!-- jquery.vectormap css -->
    <link th:href="@{../../static/js/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css}" rel="stylesheet" type="text/css" />
    <!-- DataTables -->
    <link th:href="@{../../static/js/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css}" rel="stylesheet" type="text/css" />
    <!-- Responsive datatable examples -->
    <link th:href="@{../../static/js/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css}" rel="stylesheet" type="text/css" />
    <!-- Button datatable examples -->
    <link th:href="@{../../static/js/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css}" rel="stylesheet" type="text/css" />
    <!-- Bootstrap Css -->
    <link th:href="@{../../static/css/bootstrap.min.css}" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons css -->
    <link th:href="@{../../static/css/icons.min.css}" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link th:href="@{../../static/css/app.min.css}" id="app-style" rel="stylesheet" type="text/css" />

    <link th:href="@{../../static/css/scroll.css}" id="scroll-style" rel="stylesheet" type="text/css" />
</head>

<body data-topbar="dark">
    <!-- Begin page -->
    <div id="layout-wrapper">

        <div th:replace="commons_personal::topbar(${model.username})"></div>
        <div th:replace="commons_personal::leftSidebar(${model.role})"></div>
        
        <!-- Start right Content here -->
        <div class="main-content">
            <div class="page-content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-flex align-items-center justify-content-between" id="page">
                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="admin_personal_info">用户管理</a></li>
                                        <li class="breadcrumb-item active">个人用户购买套餐详情</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="form-group row">
                                        <label class="col-md-2 col-form-label" th:text="'账号：'+${model.user.personalTel}"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title"></h4>
                                    <div>
                                        <table id="datatable-buttons" class="table table-striped table-bordered table-centered" style="white-space:nowrap;">
                                            <thead style="text-align: center;">
                                                <tr>
<!--                                                    <th class="sorting_disabled" >操作</th>-->
                                                    <th id="sort">编号</th>
<!--                                                    <th>套餐id</th>-->
                                                    <th>套餐名称</th>
                                                    <th>实付价格</th>
                                                    <th>开始时间</th>
                                                    <th>结束时间</th>
                                                    <th>状态</th>
                                                </tr>
                                            </thead>
                                            <tbody style="text-align: center;">
                                                <tr th:each="plan:${model.plans}">
                                                    <td th:text="${planStat.index+1}"></td>
                                                    <td th:text="${plan.planName}"></td>
                                                    <td th:text="${plan.cost}"></td>
                                                    <td th:text="${#dates.format(plan.startTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                                                    <td th:text="${#dates.format(plan.endTime, 'yyyy-MM-dd HH:mm:ss')}"></td>

                                                    <td>
                                                        <div th:text="${plan.unexpired?'有效':'已过期'}" th:class="${plan.unexpired?'badge badge-soft-success':'badge badge-soft-warning'}" style="font-size: 13px"></div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                    
            </div>
            <!-- container-fluid -->

            <div th:replace="commons_personal::footer"></div>
        </div>
        <!-- end main content-->
    
    <!-- END layout-wrapper -->
    </div>
   
 

    <!-- JAVASCRIPT -->
    <!-- jquery -->
    <script th:src="@{../../static/js/libs/jquery/jquery.min.js}"></script>
    <!-- bootstrap/js -->
    <script th:src="@{../../static/js/libs/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <!-- metismenu -->
    <script th:src="@{../../static/js/libs/metismenu/metisMenu.min.js}"></script>
    <!-- simplebar -->
    <script th:src="@{../../static/js/libs/simplebar/simplebar.min.js}"></script>
    <!-- node-waves -->
    <script th:src="@{../../static/js/libs/node-waves/waves.min.js}"></script>
    <!-- apexcharts -->
    <script th:src="@{../../static/js/libs/apexcharts/apexcharts.min.js}"></script>
    <!-- admin-resources/jquery.vectormap -->
    <script th:src="@{../../static/js/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.min.js}"></script>
    <script th:src="@{../../static/js/libs/admin-resources/jquery.vectormap/maps/jquery-jvectormap-us-merc-en.js}"></script>
    <!-- datatables -->
    <script th:src="@{../../static/js/libs/datatables.net/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{../../static/js/libs/datatables.net-keytable/js/dataTables.keyTable.min.js}"></script>
    <script th:src="@{../../static/js/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js}"></script>
    <script th:src="@{../../static/js/libs/datatables.net-buttons/js/dataTables.buttons.min.js}"></script>
    <script th:src="@{../../static/js/libs/datatables.net-buttons/js/buttons.colVis.min.js}"></script>
    <script th:src="@{../../static/js/libs/datatables.net-buttons/js/buttons.html5.min.js}"></script>
    <script th:src="@{../../static/js/libs/datatables.net-buttons/js/buttons.print.min.js}"></script>
    <script th:src="@{../../static/js/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js}"></script>
    <script th:src="@{../../static/js/libs/datatables.net-responsive/js/dataTables.responsive.min.js}"></script>
    <script th:src="@{../../static/js/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js}"></script>
    <script th:src="@{../../static/js/libs/datatables.net-select/js/dataTables.select.min.js}"></script>
    <!-- jszip -->
    <script th:src="@{../../static/js/libs/jszip/jszip.min.js}"></script>
    <!-- js/pages/ -->
    <script th:src="@{../../static/js/pages/datatables.init.js}"></script>
    <script th:src="@{../../static/js/pages/dashboard.init.js}"></script>
    <script th:src="@{../../static/js/app.js}"></script>

    <script type="text/javascript" th:inline="javascript">
        // 监听屏幕缩放
        $(window).resize(function () {
            document.getElementById("sort").click();
            document.getElementById("sort").click();
        });

        // 初始化
        $(function () {
            document.getElementById("sort").click();
        })
    </script>


</body>

</html>