<!doctype html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8" />
  <title>人工智能实验实训平台</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content="人工智能实验实训平台" name="description" />
<!--  <link th:href="@{../../static/js/libs/admin-resources/jquery.vectormap/static}" rel="stylesheet" type="text/css" />&lt;!&ndash; DataTables &ndash;&gt;-->
  <link th:href="@{../../static/js/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css}" rel="stylesheet" type="text/css" /><!-- Responsive datatable examples -->
  <link th:href="@{../../static/js/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css}" rel="stylesheet" type="text/css" /><!-- Bootstrap Css -->
  <link th:href="@{../../static/css/bootstrap.min.css}" id="bootstrap-style" rel="stylesheet" type="text/css" /><!-- Icons Css -->
  <link th:href="@{../../static/css/icons.min.css}" rel="stylesheet" type="text/css" /><!-- App Css-->
  <link th:href="@{../../static/css/app.min.css}" id="app-style" rel="stylesheet" type="text/css" />

</head>

<body  data-topbar="dark">
<!-- Begin page -->
<div id="layout-wrapper">
  <header id="page-topbar">
    <div class="navbar-header">
      <div class="d-flex">
        <!-- LOGO -->
        <div class="navbar-brand-box">
          <a href="index" class="logo">
            <span class="logo-sm"><img src="../../static/images/logo-sm-dark.png" alt="" height="22"></span>
            <span class="logo-lg"><img src="../../static/images/logo_light.png" alt="" height="27"></span>
          </a>
        </div>
        <button type="button" class="btn btn-sm px-3 font-size-24 header-item waves-effect" id="vertical-menu-btn"><i class="ri-menu-2-line align-middle"></i></button>
      </div>


      <div class="d-flex">

        <div class="dropdown d-none d-lg-inline-block ml-1"><button type="button" class="btn header-item noti-icon waves-effect" data-toggle="fullscreen"><i class="ri-fullscreen-line"></i></button></div>

        <!-- 个人信息展示 退出登录操作 -->
        <div class="dropdown d-inline-block user-dropdown">
          <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class=" " th:text="${stuname}"></span>
            <span class=" d-none" ></span>
            <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <!-- item-->
            <a class="dropdown-item" href="/userinfo"><i class="ri-user-line align-middle mr-1"></i>个人资料</a>
            <div class="dropdown-divider"></div><a class="dropdown-item text-danger" href="./logout"><i class="ri-shut-down-line align-middle mr-1 text-danger"></i>注销</a>
          </div>
        </div>
        <!-- 个人信息展示 退出登录操作 -->


      </div>
    </div>
  </header>

  <!-- ========== Left Sidebar Start ========== -->
  <div class="vertical-menu">
    <div data-simplebar class="h-100">
      <!--- Sidemenu -->
      <div id="sidebar-menu">
        <!-- Left Menu Start -->
        <ul class="metismenu list-unstyled" id="side-menu">


          <li><a href="/index" class="waves-effect"><i class="ri-dashboard-line"></i><span>首页</span></a></li>
          <li><a href="/applycourse" class=" waves-effect"><i class="ri-leaf-line"></i><span>申请学习</span></a></li>
          <li><a href="/mycourse" class=" waves-effect"><i class="ri-plant-line"></i><span>我的课程</span></a></li>
          <li><a href="/experiment_task" class="waves-effect"><i class="ri-checkbox-multiple-blank-line"></i><span>实验任务</span></a></li>
          <li><a href="/projects" class=" waves-effect"><i class="ri-reserved-line"></i><span>项目实战</span></a></li>
          <li><a href="/studylog" class=" waves-effect"><i class="ri-reserved-line"></i><span>学习记录</span></a></li>
          <li><a href="/datasets" class=" waves-effect"><i class="ri-download-cloud-line"></i><span>数据集</span></a></li>



        </ul>
      </div><!-- Sidebar -->
    </div>
  </div><!-- Left Sidebar End -->
  <!-- ============================================================== -->
  <!-- Start right Content here -->
  <!-- ============================================================== -->
  <div class="main-content">
    <div class="page-content">
      <div class="container-fluid">
        <!-- start page title -->
        <div class="row">
          <div class="col-12">
            <!-- 修改路径 -->
            <div class="page-title-box d-flex align-items-center justify-content-between">
              <h4 class="mb-0">课程详情</h4>
              <div class="page-title-right">
                <ol class="breadcrumb m-0">
                  <li class="breadcrumb-item"><a href="index"> 人工智能实验实训平台</a></li>
                  <li class="breadcrumb-item"><a href="applycourse">申请学习</a></li>
                  <li class="breadcrumb-item active">课程详情</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <table id="datatable-buttons" class="table  table-bordered text-center" style="overflow-x: scroll;">

                  <tr>
                    <th>课程计划名称</th><td><span th:text="${course.courseName}"></span></td>
                    <th>开通申请状态</th><td>
                    <span th:if="${course.status}=='有效'">
                      <span style="color:limegreen">允许申请</span>
                    </span>
                    <span th:if="${course.status}=='无效'">
                      <span style="color:dimgrey">禁止申请</span>
                    </span>
                  </td>
                  </tr>
                  <tr>
                    <th>课程授课讲师</th><td><span th:text="${course.teaName}"></span></td>
                    <th>课程学习时间</th><td><span th:text="${#dates.format(course.startTime,'yyy年MM月dd日')}+'——'+${#dates.format(course.endTime,'yyy年MM月dd日')}"></span></td>
                  </tr>
                  <tr>
                    <th>计划招生数</th><td><span th:text="${course.numAllowed}"></span></td>
                    <th>申请开通时间</th><td><span th:text="${course.applyTime}"></span></td>
                  </tr>
                  <tr>
                    <th>已经申请人数</th><td><span th:text="${course.numParticipated}"></span></td>
                    <th>我的申请状态</th>
                    <td id="isapplybtn">
                      <span th:if="${isapplied}==true">
                         <button type="button"  class="btn btn-danger btn-rounded waves-effect waves-light" th:onclick="cancel_apply([[${course.id}]])">取消课程课程</button>
                      </span>
                      <span th:if="${isapplied}==false">
                    <button type="button" class="btn btn-success btn-rounded waves-effect waves-light" th:onclick="sure_apply([[${course.id}]])">申请课程</button>
                        </span>
                    </td>
                  </tr>
                  <tr>
                    <th>课程介绍</th><td colspan="3"><span th:text="${course.description}"></span></td>
                  </tr>


                </table>

              </div>
            </div>
          </div>
        </div>


        </div><!-- end row -->

      </div><!-- container-fluid -->
    </div><!-- End Page-content -->
    <footer class="footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6">
            <!-- <script>document.write(new Date().getFullYear())</script>© 人工智能实验实训平台 -->
          </div>
          <div class="col-sm-6">
            <div class="text-sm-right d-none d-sm-block"><script>document.write(new Date().getFullYear())</script>© 人工智能实验实训平台</div>
          </div>
        </div>
      </div>
    </footer>
  </div><!-- end main content-->
</div><!-- END layout-wrapper -->




<!-- JAVASCRIPT -->
<script th:src="@{../../static/js/libs/jquery/jquery.min.js}"></script>
<script th:src="@{../../static/js/libs/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{../../static/js/libs/metismenu/metisMenu.min.js}"></script>
<script th:src="@{../../static/js/libs/simplebar/simplebar.min.js}"></script>
<script th:src="@{../../static/js/libs/node-waves/waves.min.js}"></script>
<script th:src="@{../../static/js/app.js}"></script>
<script th:src="@{../../static/js/libs/sweetalert2/sweetalert2.min.js}"></script>


<script th:inline="javascript" type="text/javascript">


  function sure_apply(id) {
    // var couid = $("#couid").text();
    // alert(id);
    // window.location.href="/apply_detail/"+id;

    if (id)//如果返回的有内容
    {
        $.ajax({
            url: "/apply_detail/sure_apply",
            type: 'post',
            data: {
                "id": id,
            },
            success: function () {
                alert("申请成功");
                var str = "<button type='button'  class='btn btn-danger btn-rounded waves-effect waves-light' onclick='cancel_apply("+id+")'>取消申请课程</button>\n";
                document.getElementById("isapplybtn").innerHTML = ""+str+"";
                // alert(str);
            },
            error: function () {
                alert("申请失败，请稍后再试");
            }
        })
    } else {
        alert("没有id");
    }
    // window.location.replace("/apply_detail/"+id);
  }

  function cancel_apply(id) {
    // var couid = $("#couid").text();
    // alert(id);
    // window.location.href="/apply_detail/"+id;

    if (id)//如果返回的有内容
    {
      $.ajax({
        url: "/apply_detail/cancel_apply",
        type: 'post',
        data: {
          "id": id,
        },
        success: function () {
          alert("取消申请成功");
          var str = "<button type='button' class='btn btn-success btn-rounded waves-effect waves-light' onclick='sure_apply("+id+")'>申请课程</button>";
          document.getElementById("isapplybtn").innerHTML = str ;
          // alert(str);
        },
        error: function () {
          alert("取消申请失败，请稍后再试");
        }
      })
    } else {
      alert("没有id");
    }
    // window.location.replace("/apply_detail/"+id);
  }


</script>

</body>

</html>