<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title>人工智能实验实训平台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="人工智能实验实训平台" name="description" />
    <link th:href="@{static/js/libs/admin-resources/jquery.vectormap/static}" rel="stylesheet" type="text/css" /><!-- DataTables -->
    <link th:href="@{static/js/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css}" rel="stylesheet" type="text/css" /><!-- Responsive datatable examples -->
    <link th:href="@{static/js/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css}" rel="stylesheet" type="text/css" /><!-- Bootstrap Css -->
    <link th:href="@{static/css/bootstrap.min.css}" id="bootstrap-style" rel="stylesheet" type="text/css" /><!-- Icons Css -->
    <link th:href="@{static/css/icons.min.css}" rel="stylesheet" type="text/css" /><!-- App Css-->
    <link th:href="@{static/css/app.min.css}" id="app-style" rel="stylesheet" type="text/css" />


</head>

<body data-sidebar="light">
<!-- Begin page -->
<div id="layout-wrapper">
    <header id="page-topbar">
        <div class="navbar-header">
            <div class="d-flex">
                <!-- LOGO -->
                <div class="navbar-brand-box">
                    <a href="index" class="logo logo-dark">
                        <span class="logo-sm"><img src="static/images/logo-sm-dark.png" alt="" height="22"></span>
                        <span class="logo-lg"><img src="static/images/logo-dark.png" alt="" height="27"></span>
                    </a>
                </div>
                <button type="button" class="btn btn-sm px-3 font-size-24 header-item waves-effect" id="vertical-menu-btn"><i class="ri-menu-2-line align-middle"></i></button>
            </div>


            <div class="d-flex">

                <div class="dropdown d-none d-lg-inline-block ml-1"><button type="button" class="btn header-item noti-icon waves-effect" data-toggle="fullscreen"><i class="ri-fullscreen-line"></i></button></div>

                <!-- 个人信息展示 退出登录操作 -->
                <div class="dropdown d-inline-block user-dropdown">
                    <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class=" " th:text="${stuname}"></span>
                        <span class=" d-none" ></span>
                        <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <!-- item-->
                        <a class="dropdown-item" href="userinfo"><i class="ri-user-line align-middle mr-1"></i>个人资料</a>
                        <div class="dropdown-divider"></div><a class="dropdown-item text-danger" href="/logout"><i class="ri-shut-down-line align-middle mr-1 text-danger"></i>注销</a>
                    </div>
                </div>
                <!-- 个人信息展示 退出登录操作 -->


            </div>
        </div>
    </header>

    <!-- ========== Left Sidebar Start ========== -->
    <div class="vertical-menu">
        <div data-simplebar class="h-100">
            <!--- Sidemenu -->
            <div id="sidebar-menu">
                <!-- Left Menu Start -->
                <ul class="metismenu list-unstyled" id="side-menu">


                    <li><a href="index" class="waves-effect"><i class="ri-dashboard-line"></i><span>首页</span></a></li>
                    <li><a href="applycourse" class=" waves-effect"><i class="ri-leaf-line"></i><span>申请学习</span></a></li>
                    <li><a href="mycourse" class=" waves-effect"><i class="ri-plant-line"></i><span>我的课程</span></a></li>
                    <li><a href="experiment_task" class="waves-effect"><i class="ri-checkbox-multiple-blank-line"></i><span>实验任务</span></a></li>
                    <li><a href="projects" class=" waves-effect"><i class="ri-reserved-line"></i><span>项目实战</span></a></li>
                    <li><a href="studylog" class=" waves-effect"><i class="ri-file-list-3-line"></i><span>学习记录</span></a></li>
                    <li><a href="datasets" class=" waves-effect"><i class="ri-download-cloud-line"></i><span>数据集</span></a></li>



                </ul>
            </div><!-- Sidebar -->
        </div>
    </div><!-- Left Sidebar End -->
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <!-- 修改路径 -->
                        <div class="page-title-box d-flex align-items-center justify-content-between">
                            <h4 class="mb-0">申请学习</h4>
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="index"> 人工智能实验实训平台</a></li>
                                    <li class="breadcrumb-item active">申请学习</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title"></h4>
                                <div >
                                    <table id="datatable-buttons" class="table table-striped table-bordered" style="overflow-x: scroll;">
                                        <thead style="text-align: center;">
                                        <tr>

                                            <th>开课编号</th>
                                            <th>课程名称</th>
                                            <th>授课讲师</th>
                                            <th>授课开始时间</th>
                                            <th>授课结束时间</th>
                                            <th>开放状态</th>
                                            <th>详细介绍</th>

                                        </tr>
                                        </thead>
                                        <tbody style="text-align: center">
                                        <tr th:each="course:${allcourses}">
                                            <td><span th:text="${course.id}"></span></td>
                                            <td><span th:text="${course.courseName}"></span></td>
                                            <td><span th:text="${course.teaName}"></span></td>
                                            <td><span th:text="${course.startTime}"></span></td>
                                            <td><span th:text="${course.endTime}"></span></td>
                                            <td>
                                                <span th:if="${course.status}=='有效'">
                                                <span style="color:limegreen">允许申请</span>
                                                </span>
                                                <span th:if="${course.status}=='无效'">
                                                <span style="color:dimgrey">禁止申请</span>
                                                </span>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-primary waves-effect waves-light" th:onclick="showdetail([[${course.id}]])">查看详情 <i class="ri-arrow-right-line align-middle ml-2"></i></button>

                                                <!--                                                <button type="button" class="btn btn-outline-primary waves-effect waves-light" onclick="showdetail()">查看详情</button>-->
<!--                                                <a th:href="/apply_detail/+''${allcourse.id}">查看详情</a>-->

                                            </td>
                                        </tr>


                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div><!-- end row -->

    </div><!-- container-fluid -->
</div><!-- End Page-content -->
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <!-- <script>document.write(new Date().getFullYear())</script>© 人工智能实验实训平台 -->
            </div>
            <div class="col-sm-6">
                <div class="text-sm-right d-none d-sm-block"><script>document.write(new Date().getFullYear())</script>© 人工智能实验实训平台</div>
            </div>
        </div>
    </div>
</footer>
</div><!-- end main content-->
</div><!-- END layout-wrapper -->





<!-- JAVASCRIPT -->
<script th:src="@{static/js/libs/jquery/jquery.min.js}"></script>
<script th:src="@{static/js/libs/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{static/js/libs/metismenu/metisMenu.min.js}"></script>
<script th:src="@{static/js/libs/simplebar/simplebar.min.js}"></script>
<script th:src="@{static/js/libs/node-waves/waves.min.js}"></script>
<script th:src="@{static/js/app.js}"></script>
<script th:src="@{static/js/libs/sweetalert2/sweetalert2.min.js}"></script>

<script th:inline="javascript" type="text/javascript">


    function showdetail(id) {
        // var couid = $("#couid").text();
        // alert(couid);
        window.location.href="/apply_detail/"+id;

        //这里需要注意的是，prompt有两个参数，前面是提示的话，后面是当对话框出来后，在对话框里的默认值
        // if (couid)//如果返回的有内容
        // {
        //     $.ajax({
        //         url: "/apply_detail",
        //         type: 'post',
        //         data: {
        //             "id": couid,
        //         },
        //         success: function () {
        //             // alert("更改成功");
        //         },
        //         error: function () {
        //             // alert("更改失败，请稍后再试");
        //         }
        //     })
        // } else {
        //     // alert("没有id")
        // }
    }


</script>


</body>

</html>