<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<title>登录 | 人工智能实验训练平台</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!--
		<meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
		<meta content="Themesdesign" name="author" />
		-->

		<!-- Bootstrap Css -->
		<link href="static/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
		<!-- Icons Css -->
		<link href="static/css/icons.min.css" rel="stylesheet" type="text/css" />
		<!-- App Css-->
		<link href="static/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />
	</head>
	<body class="auth-body-bg">
<!--		<div class="home-btn d-none d-sm-block">-->
<!--			<a href="index.html">-->
<!--				<i class="mdi mdi-home-variant h2 text-white"></i>-->
<!--			</a>-->
<!--		</div>-->
		<div>
			<div class="container-fluid p-0">
				<div class="row no-gutters">
					<div class="col-lg-8">

						<!--						<div class="bg-overlay " style="background-color: #fff">-->
						<img src="static/images/loginpic.png"  class="bg-overlay " style="background-color: #fff"/>
						<!--						</div>-->

<!--						<div class="bg-overlay " style="background-image: url(static/images/loginpic.png);background-color: #fff"></div>-->

					</div>
					<div class="col-lg-4">
						<div class="authentication-page-content p-4 d-flex align-items-center min-vh-100">
							<div class="w-100">
								<div class="row justify-content-center">
									<div class="col-lg-9">
										<div>
											<div class="text-center">
												<div>
													<a href="index.html" class="logo">
														<img src="static/images/logo-sm-dark.png" height="80" alt="logo">
													</a>
												</div>
												<h4 class="font-size-18 mt-4">人工智能实验实训平台</h4>
<!--												<p class="text-muted">登录后继续使用</p>-->
											</div>
											<div class="p-2 mt-5">
												<form class="form-horizontal" th:action="@{/login/confirmlogin}" method="post">
													<div class="form-group auth-form-group-custom mb-4">
														<i class="ri-user-2-line auti-custom-input-icon"></i>
														<label for="username">用户名</label>
														<input type="text" name="username" class="form-control" id="username" placeholder="请输入用户名">
													</div>
													<div class="form-group auth-form-group-custom mb-4">
														<i class="ri-lock-2-line auti-custom-input-icon"></i>
														<label for="userpassword">密码</label>
														<input type="password" name="userpwd" class="form-control" id="userpassword" placeholder="请输入密码">
													</div>
													<div class="mt-4 text-center">
														<button class="btn btn-primary w-md waves-effect waves-light" type="submit">登录</button>
													</div>
													<div class="mt-4 text-center">
														<a href="auth-recoverpw.html" class="text-muted">
															<i class="mdi mdi-lock mr-1"></i>忘记密码
														</a>
													</div>
												</form>
											</div>
											<div class="mt-5 text-center">
												<p><script>document.write(new Date().getFullYear())</script>© 人工智能实验实训平台
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

		<!-- JAVASCRIPT -->
		<script src="static/js/libs/jquery/jquery.min.js"></script>
		<script src="static/js/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
		<script src="static/js/libs/metismenu/metisMenu.min.js"></script>
		<script src="static/js/libs/simplebar/simplebar.min.js"></script>
		<script src="static/js/libs/node-waves/waves.min.js"></script>
		<script src="static/js/app.js"></script>
	</body>
</html>