<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

<head>
  <style type="text/css">
    #sidebar-menu ul li a {
      font-size: 14px;
    }
  </style>

  <title th:fragment="title">AI实训研发软件-后台管理</title>
</head>


<body data-topbar="dark">
  <!-- ========== Topbar Start ========== -->
  <header id="page-topbar" th:fragment="topbar(username)">
    <div class="navbar-header">
      <div class="d-flex">
        <!-- LOGO -->
        <div class="navbar-brand-box">
          <a href="admin_index" class="logo logo-light">
            <span class="logo-sm">
                <img src="static/images/logo-sm-dark.png" alt="" height="22">
            </span>
            <span class="logo-lg">
                <img src="static/images/logo_light.png" alt="" height="30">
            </span>
          </a>
        </div>
        <button type="button" class="btn btn-sm px-3 font-size-24 header-item waves-effect" id="vertical-menu-btn">
          <i class="ri-menu-2-line align-middle"></i>
        </button>
      </div>


      <div class="d-flex">
        <div class="dropdown d-lg-inline-block ml-1">
          <button type="button" class="btn header-item noti-icon waves-effect" data-toggle="fullscreen">
            <i class="ri-fullscreen-line"></i>
          </button>
        </div>

        <!-- 个人信息展示 退出登录操作 -->
        <div class="dropdown d-inline-block user-dropdown" id="user-info">
          <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown" data-toggle="dropdown" aria-haspopup="true">
  <!--          <img class="rounded-circle header-profile-user" src="static/images/users/avatar-2.jpg" alt="Header Avatar">-->
            <span class="d-xl-inline-block ml-1" th:text="${username}"></span>
            <i class="mdi mdi-chevron-down d-xl-inline-block"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <!-- item-->
            <a class="dropdown-item" href="admin_userinfo"><i class="ri-user-line align-middle mr-1"></i>个人资料</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item text-danger" href="login"><i class="ri-shut-down-line align-middle mr-1 text-danger"></i>退出</a>
          </div>
        </div>
        <!-- 个人信息展示 退出登录操作 -->
      </div>
    </div>
  </header>
  <!-- Topbar End -->

  <!-- ========== Left Sidebar Start ========== -->
  <div class="vertical-menu" th:fragment="leftSidebar(role)">
    <div data-simplebar class="h-100">
      <!--- Sidemenu -->
      <div id="sidebar-menu">
        <!-- Left Menu Start -->
        <ul class="metismenu list-unstyled" id="side-menu">
          <li>
            <a href="admin_index" class="waves-effect">
              <i class="ri-home-5-line"></i>
              <span>首页</span>
            </a>
          </li>
          <li th:if="${role} eq 'teacher'">
            <a href="#" class="has-arrow waves-effect">
              <i class="ri-team-line"></i>
              <span>学生管理</span>
            </a>
            <ul class="sub-menu mm-collapse">
              <li>
                <a href="admin_major">专业管理</a>
              </li>
              <li>
                <a href="admin_class">班级管理</a>
              </li>
              <li>
                <a href="admin_student">学生管理</a>
              </li>
            </ul>
          </li>

          <li th:if="${role} eq 'admin'">
            <a href="#" class="has-arrow waves-effect">
              <i class="ri-team-line"></i>
              <span>用户管理</span>
            </a>
            <ul class="sub-menu mm-collapse">
              <li>
                <a href="admin_teacher">教师管理</a>
              </li>
              <li>
                <a href="admin_student">学生管理</a>
              </li>
              <li>
                <a href="admin_major">专业管理</a>
              </li>
              <li>
                <a href="admin_class">班级管理</a>
              </li>
            </ul>
          </li>

          <li>
            <a href="#" class="has-arrow waves-effect ">
              <i class="mdi mdi-file-compare"></i>
              <span>开课管理</span>
            </a>
            <ul class="sub-menu mm-collapse">
              <li>
                <a href="admin_course_static">系统课程展示</a>
              </li>
              <li>
                <a href="admin_course">开课计划管理</a>
              </li>
              <li>
                <a href="admin_course_student">学生开课计划</a>
              </li>
            </ul>
          </li>

          <li>
            <a href="#" class="has-arrow waves-effect ">
              <i class="ri-file-text-line"></i>
              <span>学习记录</span>
            </a>
            <ul class="sub-menu mm-collapse">
              <li>
                <a href="admin_video_log">视频学习汇总</a>
              </li>
              <li>
                <a href="admin_video_log_details">视频学习详情</a>
              </li>
              <li>
                <a href="admin_report">实验报告管理</a>
              </li>
              <li>
                <a href="admin_experiment_log">实验操作时长</a>
              </li>
            </ul>
          </li>

          <li>
            <a href="#" class="has-arrow waves-effect ">
              <i class="ri-briefcase-2-line"></i>
              <span>实验管理</span>
            </a>
            <ul class="sub-menu mm-collapse">
              <li>
                <a href="admin_experiment_detail">实验详情</a>
              </li>
              <li>
                <a href="admin_student_pc">学生实验机</a>
              </li>
<!--              <li>-->
<!--                <a href="admin_pc_type">实验机类型</a>-->
<!--              </li>-->
<!--              <li>-->
<!--                <a href="admin_cluster">实验机集群</a>-->
<!--              </li>-->
  <!--            <li>-->
  <!--              <a href="admin_report_template">实验报告模板</a>-->
  <!--            </li>-->
            </ul>
          </li>

          <li>
            <a href="#" class="has-arrow waves-effect ">
              <i class="ri-slideshow-3-line"></i>
              <span>项目管理</span>
            </a>
            <ul class="sub-menu mm-collapse">
              <li>
                <a href="admin_project">实战项目</a>
              </li>
              <li>
                <a href="admin_project_detail">项目详情</a>
              </li>
            </ul>
          </li>

          <li>
            <a href="#" class="has-arrow waves-effect ">
              <i class="ri-slideshow-3-line"></i>
              <span>视频课程</span>
            </a>
            <ul class="sub-menu mm-collapse">
              <li>
                <a href="admin_video">视频课程</a>
              </li>
  <!--            <li>-->
  <!--              <a href="admin_video_class">视频课程分类</a>-->
  <!--            </li>-->
            </ul>
          </li>

          <li>
            <a href="admin_dataset" class="waves-effect">
              <i class=" ri-database-2-line"></i>
              <span>数据集</span>
            </a>
          </li>
        </ul>
      </div>
      <!-- Sidebar -->
    </div>
  </div>
  <!-- Left Sidebar End -->

  <!-- ========== Footer Start ========== -->
  <footer class="footer" th:fragment="footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
        </div>
        <div class="col-sm-6">
          <div class="text-sm-right  d-sm-block"><script>document.write(new Date().getFullYear())</script>© AI实训研发软件</div>
        </div>
      </div>
    </div>
  </footer>
  <!-- Footer End -->

</body>