<!doctype html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8" />
  <title>人工智能实验实训平台</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content="人工智能实验实训平台" name="description" />
  <link href="../../static/js/libs/video/video-js.min.css" rel="stylesheet" type="text/css" />
  <link href="../../static/js/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" /><!-- Responsive datatable examples -->
  <link href="../../static/js/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" /><!-- Bootstrap Css -->
  <link href="../../static/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" /><!-- Icons Css -->
  <link href="../../static/css/icons.min.css" rel="stylesheet" type="text/css" /><!-- App Css-->
  <link href="../../static/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />
</head>

<body data-topbar="dark">
<!-- Begin page -->
<div id="layout-wrapper">
  <header id="page-topbar">
    <div class="navbar-header">
      <div class="d-flex">
        <!-- LOGO -->
        <div class="navbar-brand-box">
          <a href="index" class="logo">
            <span class="logo-sm"><img src="../../static/images/logo-sm-dark.png" alt="" height="22"></span>
            <span class="logo-lg"><img src="../../static/images/logo_light.png" alt="" height="27"></span>
          </a>
        </div>
        <button type="button" class="btn btn-sm px-3 font-size-24 header-item waves-effect" id="vertical-menu-btn"><i class="ri-menu-2-line align-middle"></i></button>
      </div>


      <div class="d-flex">

        <div class="dropdown d-none d-lg-inline-block ml-1"><button type="button" class="btn header-item noti-icon waves-effect" data-toggle="fullscreen"><i class="ri-fullscreen-line"></i></button></div>

        <!-- 个人信息展示 退出登录操作 -->
        <div class="dropdown d-inline-block user-dropdown">
          <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <!--                        <img class="rounded-circle header-profile-user" src="static/images/users/avatar-2.jpg" alt="Header Avatar">-->
            <!--                        <span class="d-none d-xl-inline-block ml-1" th:text="${stuname}"></span>-->
            <span class=" " th:text="${stuname}"></span>
            <span class=" d-none" ></span>
            <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <!-- item-->
            <a class="dropdown-item" href="/userinfo"><i class="ri-user-line align-middle mr-1"></i>个人资料</a>
            <div class="dropdown-divider"></div><a class="dropdown-item text-danger" href="/logout"><i class="ri-shut-down-line align-middle mr-1 text-danger"></i>注销</a>
          </div>
        </div>
        <!-- 个人信息展示 退出登录操作 -->


      </div>
    </div>
  </header>

  <!-- ========== Left Sidebar Start ========== -->
  <div class="vertical-menu">
    <div data-simplebar class="h-100">
      <!--- Sidemenu -->
      <div id="sidebar-menu">
        <!-- Left Menu Start -->
        <ul class="metismenu list-unstyled" id="side-menu">


          <li><a href="/index" class="waves-effect"><i class="ri-dashboard-line"></i><span>首页</span></a></li>
          <li><a href="/applycourse" class=" waves-effect"><i class="ri-leaf-line"></i><span>申请学习</span></a></li>
          <li><a href="/mycourse" class=" waves-effect"><i class="ri-plant-line"></i><span>我的课程</span></a></li>
          <li><a href="/experiment_task" class="waves-effect"><i class="ri-checkbox-multiple-blank-line"></i><span>实验任务</span></a></li>
          <li><a href="/projects" class=" waves-effect"><i class="ri-reserved-line"></i><span>项目实战</span></a></li>
          <li><a href="/studylog" class=" waves-effect"><i class="ri-reserved-line"></i><span>学习记录</span></a></li>
          <li><a href="/datasets" class=" waves-effect"><i class="ri-download-cloud-line"></i><span>数据集</span></a></li>



        </ul>
      </div><!-- Sidebar -->
    </div>
  </div><!-- Left Sidebar End -->
  <!-- ============================================================== -->
  <!-- Start right Content here -->
  <!-- ============================================================== -->
  <div class="main-content">
    <div class="page-content">
      <div class="container-fluid">
        <!-- start page title -->
        <div class="row">
          <div class="col-12">
            <!-- 修改路径 -->
            <div class="page-title-box d-flex align-items-center justify-content-between">
              <h4 class="mb-0">课程学习</h4>
              <div class="page-title-right">
                <ol class="breadcrumb m-0">
                  <li class="breadcrumb-item"><a href="/index"> 人工智能实验实训平台</a></li>
                  <li class="breadcrumb-item"><a href="/mycourse">我的课程</a></li>
                  <li class="breadcrumb-item active">课程学习</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
        <div class="row">

          <div class="col-md-8">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title"><span th:text="${course.courseName}"></span></h4>
                <div class="row">
                  <div class="col-md-9">
                <p class="card-title-desc"><span id="videotitle"> 小标题名字</span></p>
                  </div>
                  <div class="col-md-3 "  style="">
                    <button id="machinebutton" type="button"  class="btn btn-outline-dark waves-effect waves-light"
                            onclick="location.href =''">进入实验机</button>
                  </div>

                </div>
                <div class="embed-responsive embed-responsive-16by9">
<!--                  <iframe class="embed-responsive-item" id ="videoplay" src="" allowfullscreen="true"></iframe></div>-->
                  <video  id="videoplay" controls="controls" src="" type="video/mp4">
                  </video>

                </div>
              </div>
            </div>
          </div>



          <div class="col-md-4" style="height: 60%;">
            <div class="card">
              <div class="card-header bg-transparent border-bottom"><h5 class="mb-0">课程列表</h5></div>
              <div class="card-body">


                <div id="accordion" class="custom-accordion categories-accordion mb-3">

                  <div class="categories-group-card" th:each="chapter:${chapters}">
                    <a th:id ="'aa'+${chapter.chapterNumber}" th:href="'#collapse'+${chapter.chapterNumber}" class="categories-group-list collapsed" data-toggle="collapse" aria-expanded="false" th:aria-controls="'collapse'+${chapter.chapterNumber}">
                      <i class="font-size-16 align-middle mr-2"></i>章节<span th:text="${chapter.chapterNumber}"></span>:&nbsp;&nbsp;&nbsp;<span th:text="${chapter.chapterName}"></span><i class="mdi mdi-minus float-right accor-plus-icon"></i></a>
                    <div th:id="'collapse'+${chapter.chapterNumber}" class="collapse" data-parent="#accordion" style="">
                      <div>
                        <ul class="list-unstyled categories-list mb-0">

<!--                          <li class="active"><a href="#">-->
<!--                            <i class="mdi mdi-circle-medium mr-1"></i>-->
<!--                            1.1 XXXX-->
<!--                            <div class="progress">-->
<!--                            <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">-->
<!--                              100%-->
<!--                            </div>-->
<!--                            </div>-->
<!--                          </a></li>-->

                          <li th:each="video:${videos[chapterStat.index]}">
                            <a href="#" th:onclick="showvideo([[${video}]],[[${chapterStat.index}]],[[${videopros[chapterStat.index][videoStat.index]}]])">

                              <i class="mdi mdi-circle-medium mr-1"></i>
                              <span th:text="${video.number}"></span>:&nbsp;&nbsp;&nbsp;<span th:text="${video.name}"></span>


                              <span th:if="${videopros[chapterStat.index][videoStat.index]}==null">
                            <div class="progress">
                                 <div th:id ="'v'+${video.id}" class="progress-bar" role="progressbar" style="width:0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                <span th:id ="'vv'+${video.id}" text="0%"></span>
                              </div>
                            </div>
                                </span>
                              <span th:if="${videopros[chapterStat.index][videoStat.index]}!=null">
                            <div class="progress">
                              <div th:id ="'v'+${video.id}" class="progress-bar" role="progressbar" th:style="'width:'+${videopros[chapterStat.index][videoStat.index].progress}+'%'" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                <span th:id ="'vv'+${video.id}" th:text="${videopros[chapterStat.index][videoStat.index].progress}+'%'"></span>
                              </div>
                            </div>
                                </span>
                          </a></li>


                        </ul>
                      </div>
                    </div>
                  </div>





<!--                  <div class="categories-group-card">-->
<!--                    <a href="" class="categories-group-list collapsed" data-toggle="collapse" aria-expanded="false" >-->
<!--                      <i class="font-size-16 align-middle mr-2"></i><a style="text-decoration: none;" th:href="'/experiment_task_detail/'+${id}">课程实验任务</a></a>-->
<!--                  </div>-->


                 </div>

<!--                  <div>-->
<!--                    <h4>第一章：上东国际凯撒</h4>-->
<!--                  </div>-->

<!--                <a style="text-decoration: none; color: black;" >-->
<!--                <div>-->
<!--                  <h5>1.1 sadjashdjkal</h5>-->
<!--                  <div class="progress" style="margin-bottom: 7px;">-->
<!--                    <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">-->
<!--                      25%-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--                </a>-->




              </div>
            </div>
          </div>

        </div><!-- end row -->

      </div><!-- container-fluid -->
    </div><!-- End Page-content -->
    <footer class="footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6">
            <!-- <script>document.write(new Date().getFullYear())</script>© 人工智能实验实训平台 -->
          </div>
          <div class="col-sm-6">
            <div class="text-sm-right d-none d-sm-block"><script>document.write(new Date().getFullYear())</script>© 人工智能实验实训平台</div>
          </div>
        </div>
      </div>
    </footer>
  </div><!-- end main content-->
</div><!-- END layout-wrapper -->




<!-- JAVASCRIPT -->
<script src="../../static/js/libs/jquery/jquery.min.js"></script>
<script src="../../static/js/libs/video/video.min.js"></script>
<script src="../../static/js/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../../static/js/libs/metismenu/metisMenu.min.js"></script>
<script src="../../static/js/libs/simplebar/simplebar.min.js"></script>
<script src="../../static/js/libs/node-waves/waves.min.js"></script><!-- apexcharts -->
<script src="../../static/js/libs/apexcharts/apexcharts.min.js"></script><!-- jquery.vectormap map -->
<script src="../../static/js/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script src="../../static/js/libs/admin-resources/jquery.vectormap/maps/jquery-jvectormap-us-merc-en.js"></script><!-- Required datatable js -->
<script src="../../static/js/libs/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="../../static/js/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script><!-- Responsive examples -->
<script src="../../static/js/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="../../static/js/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
<!--    <script src="static/js/pages/dashboard.init.js"></script>-->
<script src="../../static/js/app.js"></script>


<script th:inline="javascript" type="text/javascript">
  var currentvideoid = 0;
  var starttime = new Date();
  var endtime = new Date();
  var isplay = 0;
  var learntime = 0;
  var alreadypro = 0;
  var acurrentTime = 0;
  var bcurrentTime = 0;
  var courseid = [[${course.id}]];
  var pro = 0;
  var time1;


  $(document).ready(function() {
    showvideo([[${startvideo}]],0,[[${startvideopro}]]);
    var id =[[${startvideo.chapterId}]];
    $("#aa"+id).removeClass("collapsed");
    $("#aa"+id).attr("aria-expanded","true");
    $("#collapse"+id).addClass("show");

    var videoplay = document.getElementById("videoplay");
    videoplay.addEventListener(
            "loadedmetadata",
            function() {
              // alert( acurrentTime);
              this.currentTime = acurrentTime;
            });

    // videoplay.addEventListener(
    //         "timeupdate",
    //         function() {
    //           //用秒数来显示当前播放进度
    //           // timeDisplay = Math.floor(videoplay.currentTime);
    //           // duration = Math.floor(videoplay.duration);
    //           time1 = setInterval(function () {
    //             aa(Math.floor(videoplay.duration));
    //           }, 100)
    //
    //         },false);


    videoplay.addEventListener(
            "play",
            function() {
              if(isplay==false){
                starttime = new Date();
              }
              isplay = true;
              time1 = setInterval(function () {
                aa(Math.floor(videoplay.duration));
                bcurrentTime = Math.floor(videoplay.currentTime);
              }, 1000)
              console.log('kaishi视频id',currentvideoid);
              console.log('ksidhi时间',starttime);
            });

    videoplay.addEventListener(
            "pause",
            function() {
              window.clearInterval(time1);
              console.log('暂停');
            });

    function aa(duration){
      learntime = learntime+1;
      var alreadytime  = alreadypro/100*duration;
      pro = Math.floor(((alreadytime+learntime)/duration)*100);
      if(pro>100) pro = 100;
      // console.log('pro',pro);
      if(pro<=100) changebar(pro);
    }

    function changebar(pro){
      $("#v"+currentvideoid).attr("style","width:"+pro+"%");
      $("#vv"+currentvideoid).text(pro+"%");
    }


    videoplay.addEventListener(
            "ended",
            function() {
              acurrentTime = 0;
              this.currentTime = acurrentTime;

              endtime = new Date();
              sendvideoinfo();
              isplay = false;
              window.clearInterval(time1);
              learntime = 0
              console.log('jis视频id',currentvideoid);
              console.log('jis时间',endtime);
            });




      window.onbeforeunload = function () {
        if(isplay == true) {
          endtime = new Date();
          sendvideoinfo();
          isplay = false;
          window.clearInterval(time1);
          learntime = 0
          console.log('onunload');
          console.log('jisun视频id', currentvideoid);
          console.log('jisun时间', endtime);
        }
    };


  //   var player = videojs('videoplay', options, function onPlayerReady() {
  //     var time1;
  //     // 这里的t1可以更改为当前视频的学习时间
  //     var t1 = 0;
  //
  //     function aa() {
  //       console.log('...' );
  //         var videoLength = videoplay.duration;
  //         console.log('总时长',videoLength );
  //         t1 = t1 + 1;
  //         var progress = t1/videoLength*100;
  //         if(t1>=videoLength){
  //           progress = 100;
  //         }
  //         $("#v"+currentvideoid).attr("width",progress);
  //         $("#vv"+currentvideoid).text(progress+"%");
  //
  //     }
  //     this.on('play', function () {
  //       console.log('开始播放');
  //       time1 = setInterval(function () {
  //         aa();
  //       }, 1000)
  //     });
  //     this.on('ended', function () {
  //       console.log('结束播放');
  //       window.clearInterval(time1);
  //       countTime();   //向后台发数据
  //     });
  //     this.on('pause', function () {
  //       console.log('暂停播放');
  //       window.clearInterval(time1);
  //       countTime();  //向后台发数据
  //     });
  //   });
  //
  //   if(window.addEventListener){
  //     window.addEventListener("beforeunload",countTime,false);
  //   }else{
  //     window.attachEvent("onbeforeunload",countTime);
  //   }
  //
  });



  function showvideo(video,chapterno,videopro) {
    // console.log('video',video);
    // console.log('videopro',videopro);
    // alert(video);
     $("#videotitle").html(video.name);
     $("#videoplay").attr("src",video.path);



    var tosubexperiments = [[${tosubexperiments}]];
     if(tosubexperiments[chapterno][video.number-1]!=null){
       $("#machinebutton").attr("disabled",false);
       $("#machinebutton").click(function(){
         window.location.href ='/experiment_machine/'+tosubexperiments[chapterno][video.number-1];
       });
     }else{
       $("#machinebutton").attr("disabled",true);
     }

     if(isplay==true){
       endtime = new Date();
       sendvideoinfo();
       window.clearInterval(time1);
       learntime = 0
       console.log('切换视频id',currentvideoid);
       console.log('切换时间',endtime);
     }

     if(videopro==null){
       pro = 0;
       acurrentTime = 0;
       alreadypro = 0;
     }else{
       pro = videopro.progress;
       alreadypro = videopro.progress;
       acurrentTime = videopro.lastVideoProgress;
     }

    isplay = false;
    currentvideoid = video.id;

  }




  function sendvideoinfo() {
    $.ajax({
      url : "/update_videotime",
      type : "POST",

      data : {
        'courseid':courseid,
        'videoid':currentvideoid,
        'starttime':starttime,
        'endtime':endtime,
        'currenttime':bcurrentTime,
        'learntime':learntime,
        'jindu':pro,
      },
      success:function (data) {
        window.location.replace("/course_video/"+courseid+"/"+currentvideoid);
      }
    })
  }




</script>




</body>

</html>