<!doctype html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title>人工智能实验实训平台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="人工智能实验实训平台" name="description" />
<!--    <link href="static/js/libs/admin-resources/jquery.vectormap/static" rel="stylesheet" type="text/css" />&lt;!&ndash; DataTables &ndash;&gt;-->
    <link href="static/js/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" /><!-- Responsive datatable examples -->
    <link href="static/js/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" /><!-- Bootstrap Css -->
    <link href="static/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" /><!-- Icons Css -->
    <link href="static/css/icons.min.css" rel="stylesheet" type="text/css" /><!-- App Css-->
    <link href="static/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />
</head>

<body  data-topbar="dark">
<!-- Begin page -->
<div id="layout-wrapper" >
    <header  id="page-topbar" >
        <div class="navbar-header">
            <div class="d-flex">
                <!-- LOGO -->
                <div class="navbar-brand-box">
                    <a href="index" class="logo">
                        <span class="logo-sm"><img src="static/images/logo-sm-dark.png" alt="" height="22"></span>
                        <span class="logo-lg"><img src="static/images/logo-dark.png" alt="" height="27"></span>
                    </a>
                </div>
                <button type="button" class="btn btn-sm px-3 font-size-24 header-item waves-effect" id="vertical-menu-btn"><i class="ri-menu-2-line align-middle"></i></button>
            </div>


            <div class="d-flex">

                <div class="dropdown d-none d-lg-inline-block ml-1"><button type="button" class="btn header-item noti-icon waves-effect" data-toggle="fullscreen"><i class="ri-fullscreen-line"></i></button></div>

                <!-- 个人信息展示 退出登录操作 -->
                <div class="dropdown d-inline-block user-dropdown">
                    <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
<!--                        <img class="rounded-circle header-profile-user" src="static/images/users/avatar-2.jpg" alt="Header Avatar">-->
<!--                        <span class="d-none d-xl-inline-block ml-1" th:text="${stuname}"></span>-->
                        <span class=" " th:text="${stuname}"></span>
                        <span class=" d-none" ></span>
                        <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <!-- item-->
                        <a class="dropdown-item" href="userinfo"><i class="ri-user-line align-middle mr-1"></i>个人资料</a>
                        <div class="dropdown-divider"></div><a class="dropdown-item text-danger" href="logout"><i class="ri-shut-down-line align-middle mr-1 text-danger"></i>注销</a>
                    </div>
                </div>
                <!-- 个人信息展示 退出登录操作 -->


            </div>
        </div>
    </header>

    <!-- ========== Left Sidebar Start ========== -->
    <div  class="vertical-menu">
        <div data-simplebar class="h-100">
            <!--- Sidemenu -->
            <div id="sidebar-menu">
                <!-- Left Menu Start -->
                <ul class="metismenu list-unstyled" id="side-menu">


                    <li><a href="index" class="waves-effect"><i class="ri-dashboard-line"></i><span>首页</span></a></li>
                    <li><a href="applycourse" class=" waves-effect"><i class="ri-leaf-line"></i><span>申请学习</span></a></li>
                    <li><a href="mycourse" class=" waves-effect"><i class="ri-plant-line"></i><span>我的课程</span></a></li>
                    <li><a href="experiment_task" class="waves-effect"><i class="ri-checkbox-multiple-blank-line"></i><span>实验任务</span></a></li>
                    <li><a href="projects" class=" waves-effect"><i class="ri-reserved-line"></i><span>项目实战</span></a></li>
                    <li><a href="studylog" class=" waves-effect"><i class="ri-file-list-3-line"></i><span>学习记录</span></a></li>
                    <li><a href="datasets" class=" waves-effect"><i class="ri-download-cloud-line"></i><span>数据集</span></a></li>



                </ul>
            </div><!-- Sidebar -->
        </div>
    </div><!-- Left Sidebar End -->
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <!-- 修改路径 -->
                        <div class="page-title-box d-flex align-items-center justify-content-between">
                            <h4 class="mb-0">首页</h4>
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item active"><a href="index"> 人工智能实验实训平台</a></li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div><!-- end row -->
                <div class="row">
                    <div class="col-xl-8">
                    <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body" style=" height: 100px;">
                                <p class="text-truncate font-size-14 mb-2">已选课程数</p>
                                <span  th:text = "${chosenCourse}"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body" style=" height: 100px;">
                                <p class="text-truncate font-size-14 mb-2">未完成课程数</p>
                                <span  th:text = "${noFinished}"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body" style=" height: 100px;">
                                <p class="text-truncate font-size-14 mb-2">上一次学习时间</p>
                                <span  th:text = "${lastlogintime}"></span>
                            </div>
                        </div>
                        </div>
                    </div>
                        <div class="card">
                            <div class="card-body">
                                <div id="chart1" style=" height: 340px;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="card">
                            <div class="card-body">
                                <div id="chart2" style=" height: 200px;"></div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <div id="chart3" style=" height: 200px;"></div>
                            </div>
                        </div>
                    </div>
            </div><!-- end row -->





    </div><!-- container-fluid -->
</div><!-- End Page-content -->
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <!-- <script>document.write(new Date().getFullYear())</script>© 人工智能实验实训平台 -->
            </div>
            <div class="col-sm-6">
                <div class="text-sm-right d-none d-sm-block"><script>document.write(new Date().getFullYear())</script>© 人工智能实验实训平台</div>
            </div>
        </div>
    </div>
</footer>
</div><!-- end main content-->
</div><!-- END layout-wrapper -->




<!-- JAVASCRIPT -->
<script src="static/js/libs/jquery/jquery.min.js"></script>
<script src="static/js/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="static/js/libs/metismenu/metisMenu.min.js"></script>
<script src="static/js/libs/simplebar/simplebar.min.js"></script>
<script src="static/js/libs/node-waves/waves.min.js"></script>
<script src="static/js/app.js"></script>
<script src="static/js/libs/chart.js/echarts.min.js"></script>
<script th:inline="javascript" type="text/javascript">
    var videopros = [[${videopros}]];
    var experpros = [[${experpros}]];
    var lastExper = [[${lastExper}]];
    var lastvideo = [[${lastvideo}]];
    var videoCoursenames = [[${videoCoursenames}]];
    var experCoursenames = [[${experCoursenames}]];

    $(document).ready(function() {
        console.log(lastExper);
        console.log(lastvideo);
        console.log(videopros);
        var option1 = {
            title : {
                text: '最近七天学习时长',
                x:'center'

            },
            tooltip : {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c}"
            },
            legend: {
                orient : 'vertical',
                x : 'right',
                data:['课程视频','课程实验']
            },

            xAxis : [
                {
                    type : 'category',
                    boundaryGap : false,
                    data : [lastvideo[0].date,lastvideo[1].date,lastvideo[2].date,lastvideo[3].date,lastvideo[4].date]
                }
            ],
            yAxis : [
                {
                    type : 'value'
                }
            ],
            series : [
                {
                    name:'课程视频',
                    type:'line',

                    data:[lastvideo[0].time,lastvideo[1].time,lastvideo[2].time,lastvideo[3].time,lastvideo[4].time]
                },
                {
                    name:'课程实验',
                    type:'line',

                    data:[lastvideo[0].time,lastvideo[1].time,lastvideo[2].time,lastvideo[3].time,lastvideo[4].time]
                }
            ]
        };


        option2 = {
            title : {
                text: '视频课程学习比例图',
                x:'center'
            },
            tooltip : {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },

            calculable : true,
            series : [
                {
                    name:'课程学习',
                    type:'pie',
                    radius : '55%',
                    center: ['50%', '60%'],
                    data:videopros
                }
            ]
        };
        option3 = {
            title : {
                text: '实验课程学习比例图',
                x:'center'
            },
            tooltip : {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },

            calculable : true,
            series : [
                {
                    name:'课程学习',
                    type:'pie',
                    radius : '55%',
                    center: ['50%', '60%'],
                    data:experpros
                }
            ]
        };

        var myChart1 = echarts.init(document.getElementById('chart1'));
        var myChart2 = echarts.init(document.getElementById('chart2'));
        var myChart3 = echarts.init(document.getElementById('chart3'));
        myChart1.setOption(option1);
        myChart2.setOption(option2);
        myChart3.setOption(option3);


        window.addEventListener("resize", function () {
            myChart1.resize();
            myChart2.resize();
            myChart3.resize();
        });
    })



</script>
</body>

</html>