<!doctype html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title>人工智能实验实训平台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="人工智能实验实训平台" name="description" />
    <link href="../../static/js/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" /><!-- Responsive datatable examples -->
    <link href="../../static/js/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" /><!-- Bootstrap Css -->
    <link href="../../static/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" /><!-- Icons Css -->
    <link href="../../static/css/icons.min.css" rel="stylesheet" type="text/css" /><!-- App Css-->
    <link href="../../static/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />
</head>

<body data-topbar="dark">
<!-- Begin page -->
<div id="layout-wrapper">
    <header id="page-topbar">
        <div class="navbar-header">
            <div class="d-flex">
                <!-- LOGO -->
                <div class="navbar-brand-box">
                    <a href="index" class="logo logo-dark">
                        <span class="logo-sm"><img src="../../static/images/logo-sm-dark.png" alt="" height="22"></span>
                        <span class="logo-lg"><img src="../../static/images/logo-dark.png" alt="" height="27"></span>
                    </a>
                </div>
                <button type="button" class="btn btn-sm px-3 font-size-24 header-item waves-effect" id="vertical-menu-btn"><i class="ri-menu-2-line align-middle"></i></button>
            </div>


            <div class="d-flex">

                <div class="dropdown d-none d-lg-inline-block ml-1"><button type="button" class="btn header-item noti-icon waves-effect" data-toggle="fullscreen"><i class="ri-fullscreen-line"></i></button></div>

                <!-- 个人信息展示 退出登录操作 -->
                <div class="dropdown d-inline-block user-dropdown">
                    <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class=" " th:text="${stuname}"></span>
                        <span class=" d-none" ></span>
                        <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <!-- item-->
                        <a class="dropdown-item" href="userinfo"><i class="ri-user-line align-middle mr-1"></i>个人资料</a>
                        <div class="dropdown-divider"></div><a class="dropdown-item text-danger" href="/logout"><i class="ri-shut-down-line align-middle mr-1 text-danger"></i>注销</a>
                    </div>
                </div>
                <!-- 个人信息展示 退出登录操作 -->


            </div>
        </div>
    </header>

    <!-- ========== Left Sidebar Start ========== -->
    <div class="vertical-menu">
        <div data-simplebar class="h-100">
            <!--- Sidemenu -->
            <div id="sidebar-menu">
                <!-- Left Menu Start -->
                <ul class="metismenu list-unstyled" id="side-menu">


                    <li><a href="/index" class="waves-effect"><i class="ri-dashboard-line"></i><span>首页</span></a></li>
                    <li><a href="/applycourse" class=" waves-effect"><i class="ri-leaf-line"></i><span>申请学习</span></a></li>
                    <li><a href="/mycourse" class=" waves-effect"><i class="ri-plant-line"></i><span>我的课程</span></a></li>
                    <li><a href="/experiment_task" class="waves-effect"><i class="ri-checkbox-multiple-blank-line"></i><span>实验任务</span></a></li>
                    <li><a href="/projects" class=" waves-effect"><i class="ri-reserved-line"></i><span>项目实战</span></a></li>
                    <li><a href="/studylog" class=" waves-effect"><i class="ri-reserved-line"></i><span>学习记录</span></a></li>
                    <li><a href="/datasets" class=" waves-effect"><i class="ri-download-cloud-line"></i><span>数据集</span></a></li>




                </ul>
            </div><!-- Sidebar -->
        </div>
    </div><!-- Left Sidebar End -->
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <!-- 修改路径 -->
                        <div class="page-title-box d-flex align-items-center justify-content-between">
                            <h4 class="mb-0">学习记录详情</h4>
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="/index"> 人工智能实验实训平台</a></li>
                                    <li class="breadcrumb-item"><a href="/studylog"> 学习记录</a></li>
                                    <li class="breadcrumb-item active">学习记录详情</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div><!-- end row -->

                <div class="row">


                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <table id="datatable-buttons" class="table  table-bordered text-center" style="overflow-x: scroll;">

                                        <tr>
                                            <th>课程名称</th><td><span th:text="${course.courseName}"></span></td>
                                            <th>讲授老师</th><td><span th:text="${course.teaName}"></span></td>
                                        </tr>
                                        <tr>
                                            <th>总共视频学习时长</th><td><span class="timeformat" th:text="${videoprostudynum}"></span></td>
<!--                                            <th>总共实验学习时长</th><td><span th:text="${videoprosnum}"></span></td>-->
                                            <th>总共实验学习时长</th><td><span class="timeformat" th:text="${experprostudynum}"></span></td>
                                        </tr>
                                    </table>

                                </div>
                            </div>
                        </div>

                </div><!-- end row -->


                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">课程视频</h4>
                                    <div >
                                        <table  class="table table-striped table-bordered" style="overflow-x: scroll;">
                                            <thead style="text-align: center;">
                                            <tr>

                                                <th>编号</th>
                                                <th>视频名称</th>
                                                <th>开始学习时间</th>
                                                <th>结束学习时间</th>
                                                <th>学习时长</th>

                                            </tr>
                                            </thead>
                                            <tbody style="text-align: center" id = "videologdiv">
                                            <tr>
                                                <td colspan="5"><span>暂无学习记录</span></td>
                                            </tr>
                                            <!--                    <tr th:each="videopro:${videopros}">-->
                                            <!--                      <span th:if="${videoproStat.index}<10" >-->
                                            <!--                      <td><span th:text="${videoproStat.index+1}"></span></td>-->
                                            <!--                      <td><span th:text="${videos[videoproStat.index].name}"></span></td>-->
                                            <!--                      <td><span th:text="${#dates.format(videopro.startTime,'yyy-MM-dd HH:mm:ss')}"></span></td>-->
                                            <!--                      <td><span th:text="${#dates.format(videopro.endTime,'yyy-MM-dd HH:mm:ss')}"></span></td>-->
                                            <!--                      <td ><span class="timecal" th:text="${videopro.studyTime}"></span></td>-->
                                            <!--                      <td><a th:href="'studylog_detail/'+${videos[videoproStat.index].courseId}">查看详情</a></td>-->
                                            <!--                      </span>-->
                                            <!--                    </tr>-->
                                            </tbody>
                                        </table>

                                        <div style="float:right">
                                            <span id="videocurrentpage"></span>
                                            <button type="button" class="btn btn-light btn-sm waves-effect waves-light" style="margin-left: 8px;" onclick="videopageplus()">上一页</button>
                                            <button type="button" class="btn btn-light btn-sm waves-effect waves-light" style="margin-left: 2px;"onclick="videopagemin()">下一页</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- end row -->

                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">课程实验</h4>
                                    <div >
                                        <table  class="table table-striped table-bordered" style="overflow-x: scroll;">
                                            <thead style="text-align: center;">
                                            <tr>

                                                <th>编号</th>
                                                <th>实验名称</th>
                                                <th>开始学习时间</th>
                                                <th>结束学习时间</th>
                                                <th>学习时长</th>

                                            </tr>
                                            </thead>
                                            <tbody style="text-align: center" id="experlogdiv">
                                            <tr>
                                                <td colspan="5"><span>暂无学习记录</span></td>
                                            </tr>
                                            <!--                    <tr th:each="videopro:${videopros}">-->
                                            <!--                      <td><span th:text="${videoproStat.index+1}"></span></td>-->
                                            <!--                      <td><span th:text="${videos[videoproStat.index].name}"></span></td>-->
                                            <!--                      <td><span th:text="${videopro.startTime}"></span></td>-->
                                            <!--                      <td><span th:text="${videopro.endTime}"></span></td>-->
                                            <!--                      <td><span th:text="${videopro.studyTime}"></span></td>-->
                                            <!--                      <td><a href="studylog_detail">查看详情</a></td>-->
                                            <!--                    </tr>-->

                                            </tbody>
                                        </table>
                                        <div style="float:right">
                                            <span id="expercurrentpage"></span>
                                            <button type="button" class="btn btn-light btn-sm waves-effect waves-light" style="margin-left: 8px;" onclick="experpageplus()">上一页</button>
                                            <button type="button" class="btn btn-light btn-sm waves-effect waves-light" style="margin-left: 2px;"onclick="experpagemin()">下一页</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- end row -->




    </div><!-- container-fluid -->
</div><!-- End Page-content -->
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <!-- <script>document.write(new Date().getFullYear())</script>© 人工智能实验实训平台 -->
            </div>
            <div class="col-sm-6">
                <div class="text-sm-right d-none d-sm-block"><script>document.write(new Date().getFullYear())</script>© 人工智能实验实训平台</div>
            </div>
        </div>
    </div>
</footer>
</div><!-- end main content-->
</div><!-- END layout-wrapper -->




<!-- JAVASCRIPT -->
<script src="../../static/js/libs/jquery/jquery.min.js"></script>
<script src="../../static/js/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../../static/js/libs/metismenu/metisMenu.min.js"></script>
<script src="../../static/js/libs/simplebar/simplebar.min.js"></script>
<script src="../../static/js/libs/node-waves/waves.min.js"></script><!-- apexcharts -->
<script src="../../static/js/libs/apexcharts/apexcharts.min.js"></script><!-- jquery.vectormap map -->
<script src="../../static/js/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script src="../../static/js/libs/admin-resources/jquery.vectormap/maps/jquery-jvectormap-us-merc-en.js"></script><!-- Required datatable js -->
<script src="../../static/js/libs/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="../../static/js/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script><!-- Responsive examples -->
<script src="../../static/js/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="../../static/js/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
<!--    <script src="static/js/pages/dashboard.init.js"></script>-->
<script src="../../static/js/app.js"></script>

<script th:inline="javascript" type="text/javascript">
    var videolog = [[${videopros}]];
    var experlog = [[${experpros}]];
    var videos = [[${videos}]];
    var subexpers = [[${subexpers}]];
    var courseids = [[${courseids}]];

    var videocurrentpage = 0;
    var expercurrentpage = 0;

    $(document).ready(function() {
        // console.log(videolog);
        // console.log(experlog);
        $(".timeformat").each(function(){
            var s = $(this).text();
            $(this).html(timecall(s));
        });

        if(videolog!=null){
            showvideo(1);
        }
        if(experlog!=null){
            showexper(1);
        }



    });

    function showvideo(pageno){
        str="";
        for(var i=(pageno-1)*5;i<videolog.length&&i<pageno*5;i++){
            console.log(videolog[i]);
            str += "<tr>";
            str += "<td><span>"+(i+1)+"</span></td>";
            str += "<td><span>"+videos[i].name+"</span></td>";
            str += "<td><span>"+dateFormat("YYYY-mm-dd HH:MM:SS", videolog[i].startTime)+"</span></td>";
            str += "<td><span>"+dateFormat("YYYY-mm-dd HH:MM:SS", videolog[i].endTime)+"</span></td>";
            str += "<td><span>"+ timecall(videolog[i].studyTime)+"</span></td>";
            str += "</tr>";
        }
        $("#videologdiv").html(str);

        showvideocurrent(pageno);
    }

    function showvideocurrent(pageno){
        var allpage = Math.ceil(videolog.length/5);
        var str = "当前第"+pageno+"页，共"+allpage+"页";
        $("#videocurrentpage").html(str);
        videocurrentpage = pageno;
    }

    function videopageplus(){
        if(videocurrentpage>1) {
            showvideo(videocurrentpage - 1);
        }
    }

    function videopagemin(){
        if(videocurrentpage<Math.ceil(videolog.length/5)) {
            showvideo(videocurrentpage + 1);
        }
    }



    function showexper(pageno){
        str="";
        for(var i=(pageno-1)*5;i<experlog.length&&i<pageno*5;i++){
            console.log(experlog[i]);
            str += "<tr>";
            str += "<td><span>"+(i+1)+"</span></td>";
            str += "<td><span>"+subexpers[i].subExperimentName+"</span></td>";
            str += "<td><span>"+dateFormat("YYYY-mm-dd HH:MM:SS", experlog[i].startTime)+"</span></td>";
            str += "<td><span>"+dateFormat("YYYY-mm-dd HH:MM:SS", experlog[i].endTime)+"</span></td>";
            str += "<td><span>"+ timecall(experlog[i].validStudyTime)+"</span></td>";
            str += "</tr>";
        }
        $("#experlogdiv").html(str);

        showexpercurrent(pageno);
    }

    function showexpercurrent(pageno){
        var allpage = Math.ceil(experlog.length/5);
        var str = "当前第"+pageno+"页，共"+allpage+"页";
        $("#expercurrentpage").html(str);
        expercurrentpage = pageno;
    }

    function experpageplus(){
        if(expercurrentpage>1) {
            showexper(expercurrentpage - 1);
        }
    }

    function experpagemin(){
        if(expercurrentpage<Math.ceil(experlog.length/5)) {
            showexper(expercurrentpage + 1);
        }
    }



    function timecall(str){
        var ss="";
        if(str>=3600){
            ss = ss+ parseInt(str/3600) +"时";
            str =str%3600;
            // console.log(ss +":"+str);
        }
        if(str>=60){
            ss = ss+ parseInt(str/60) +"分";
            str = str%60;
            // console.log(ss +":"+str);
        }
        if(str<60){
            ss = ss+ str +"秒";
        }
        return ss;
    }


    function dateFormat(fmt, dates) {
        var date = new Date(dates);
        let ret;
        const opt = {
            "Y+": date.getFullYear().toString(),        // 年
            "m+": (date.getMonth() + 1).toString(),     // 月
            "d+": date.getDate().toString(),            // 日
            "H+": date.getHours().toString(),           // 时
            "M+": date.getMinutes().toString(),         // 分
            "S+": date.getSeconds().toString()          // 秒
            // 有其他格式化字符需求可以继续添加，必须转化成字符串
        };
        for (let k in opt) {
            ret = new RegExp("(" + k + ")").exec(fmt);
            if (ret) {
                fmt = fmt.replace(ret[1], (ret[1].length == 1) ? (opt[k]) : (opt[k].padStart(ret[1].length, "0")))
            };
        };
        return fmt;
    }



</script>


</body>

</html>